### 1. Introduction to Python

#####  1.1) Hello World

In [ ]:
print('Hello World')

Hello World

#### 1.2) Dealing with Datatypes

1.2.1) int

In [ ]:
print(type(12))
print(type(-12))
print(type(0))

<class 'int'>
<class 'int'>
<class 'int'>

1.2.2) float

In [ ]:
print(type(12.5))
print(type(0.000000001))
print(type(0.0))

<class 'float'>
<class 'float'>
<class 'float'>

1.2.3) string

In [ ]:
print(type('A'))
print(type('Ashish Jangra'))
print(type('Ashish Jangra is a data scince mentor at gfg'))
print(type('5.5'))
print(type('True'))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

1.2.4) boolean

In [ ]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

#### 1.3) Operators

1.3.1) Arithmetic Operator

In [ ]:
print('--INT--')
print(2+3)
print(2-3)
print(3/2)
print(3//2)
print(3%2)
print(2*3)
print(2**3)

print()
print()
print()
print('--STR--')
print('A' + 'A')
print('Ashish' * 3)

print()
print()
print()
print('--Bool--')

print(True + True)
print(True + False)
print(False + True)
print(False + False)
print('-'*5)

print(True * True)
print(True * False)
print(False * True)
print(False * False)

--INT--
5
-1
1.5
1
1
6
8



--STR--
AA
AshishAshishAshish



--Bool--
2
1
1
0
-----
1
0
0
0

1.3.2) Comparison Operators

In [ ]:
print(2>3)
print(2<3)
print(2>=3)
print(2<=3)
print(2==3)
print(2!=3)

print(2=='2')
print(1 == True)
print(100 == True*100)

False
True
False
True
False
True

1.3.3) Logical Operators

In [ ]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

print(True or True)
print(True or False)
print(False or True)
print(False or False)

print(not(True))

True
False
False
False
True
True
True
False
False

#### 1.4) Typecasting

1.4.1) int

In [ ]:
print(int(12.5))
print(type(int(12.5)))

print(int('121312'))
print(type(int('121312')))

print(int(True))
print(type(int(True)))

12
<class 'int'>
121312
<class 'int'>
1
<class 'int'>

1.4.2) float

In [ ]:
print(float(12))

print(float('12'))

print(float(True))

12.0
12.0
1.0

1.4.3) str

In [ ]:
print(str(12))

print(str(12.5))

print(str(True))

12
12.5
True

1.4.4) bool

In [ ]:
print(bool(0.0000000000000000))


print(bool('0'))
print(bool('a'))
print(bool(''))

False
True
True
False

#### 1.5) Variables

In [ ]:
a = 15
b = 6

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

21
9
90
2.5
2
3
11390625

### 2. Conditionals

In [ ]:
age = int(input('Enter the age : '))

if age >= 18 and age <= 100:
  print('You are eligible to vote')
elif age >= 0 and age < 18:
  print('Not eligible to vote')
else:
  print('Invalid age')

Enter the age : -576
Invalid age

### 3. Loops

In [ ]:
num = 13

for i in range(1,11):
  print(num,'*',i,'=',num*i)

13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130

In [ ]:
num = 13

for i in range(num,num*10+ 1,num):
  print(i)

13
26
39
52
65
78
91
104
117
130

In [ ]:
  num = 14

Divisible

In [ ]:
s = 0

for i in range(0,101):
  s += i

print(s)

5050

In [ ]:
c = 0

for i in range(1,7):
  for j in range(1,7):
     if(i+j == 6):
      c += 1

print(c,round(c/36,3))

5 0.139

In [ ]:
c = 0

for n in range(1,13):

  for i in range(1,7):
    for j in range(1,7):
      if(i+j == n):
        c += 1

  print(n,round(c/36,3))

1 0.0
2 0.028
3 0.083
4 0.167
5 0.278
6 0.417
7 0.583
8 0.722
9 0.833
10 0.917
11 0.972
12 1.0

### 4. Data Structures

#### 4.1) Lists

In [ ]:
a = [1,'2324234',98.99,3,4,5,True]

print(a)
print(type(a))

[1, '2324234', 98.99, 3, 4, 5, True]
<class 'list'>

In [ ]:
a = [1,22352342,3,4,5,6,7,8]

for i in a:
  if i%2 == 0:
    print(i)

22352342
4
6
8

In [ ]:
a = [1,22352342,3,4,5,6,7,8]

for i in range(len(a)):
  print(i, a[i])

0 1
1 22352342
2 3
3 4
4 5
5 6
6 7
7 8

In [ ]:
lst = ['Ashish','Manish','Mahima','Sakshi','Avneet','ashish']

for i in lst:
  if i[0] == 'A' or i[0] == 'a':
    print(i)

Ashish
Avneet
ashish

In [ ]:
'   Ashish '.strip()

'Ashish'

In [ ]:
lst = ['   Ashish ','   Manish','  Mahima ','  Sakshi  ','    Avneet   ']

# for i in lst:
#   print(i.strip())

print([len(i.strip()) for i in lst])

[6, 6, 6, 6, 6]

In [ ]:
lst = ['Ash(*(*&(%^i423sh','%&*(&^M6345234anish','Mah^*&i4235436ma','Saks23423%^*&543hi','Avne23432523et']

for txt in lst:       # going through each text
  for i in txt:       # going through each character of a single text
    if (i not in "1234567890~!@#$%^&*()_+{}|:<>?/.,;[]\'"):
      print(i, end = '')

  print()

Ashish
Manish
Mahima
Sakshi
Avneet

In [ ]:
lst = []

for i in range(1,101):
  if (i%5 == 0 or i%7 == 0):
    lst.append(i)
print(lst)

[5, 7, 10, 14, 15, 20, 21, 25, 28, 30, 35, 40, 42, 45, 49, 50, 55, 56, 60, 63, 65, 70, 75, 77, 80, 84, 85, 90, 91, 95, 98, 100]

In [ ]:
lst[ : :2]

[5, 10, 15, 21, 28, 35, 42, 49, 55, 60, 65, 75, 80, 85, 91, 98]

In [ ]:
lst = [i%7 for i in range(100)]
print(lst)

[0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1]

In [ ]:
del j,i

In [ ]:
[i for i in range(3) for j in range(i)]

NameError: name 'j' is not defined

In [ ]:
for i in range(3):
  for j in range(i):
    print(i,j)

0 0
0 1
0 2
0 3
0 4
0 5
0 6
1 0
1 1
1 2
1 3
1 4
1 5
1 6
2 0
2 1
2 2
2 3
2 4
2 5
2 6

In [ ]:
lst = [[1, 'Ashish', 67],
       [2, 'Manish', 87],
       [3, 'Mahima', 69],
       [4, 'Sunita', 75],
       [5, 'Rohan', 82],
       [6, 'Pooja', 77],
       [7, 'Vijay', 63],
       [8, 'Karan', 90],
       [9, 'Jyoti', 56],
       [10, 'Nitin', 88],
       [11, 'Deepa', 72],
       [12, 'Anuj', 79],
       [13, 'Ritu', 65],
       [14, 'Sachin', 84],
       [15, 'Gita', 91],
       [16, 'Hari', 78],
       [17, 'Lata', 70],
       [18, 'Raj', 85],
       [19, 'Meena', 58],
       [20, 'Shyam', 80],
       [21, 'Kavita', 92],
       [22, 'Mohan', 74],
       [23, 'Sneha', 81]]

print(lst)

[[1, 'Ashish', 67], [2, 'Manish', 87], [3, 'Mahima', 69], [4, 'Sunita', 75], [5, 'Rohan', 82], [6, 'Pooja', 77], [7, 'Vijay', 63], [8, 'Karan', 90], [9, 'Jyoti', 56], [10, 'Nitin', 88], [11, 'Deepa', 72], [12, 'Anuj', 79], [13, 'Ritu', 65], [14, 'Sachin', 84], [15, 'Gita', 91], [16, 'Hari', 78], [17, 'Lata', 70], [18, 'Raj', 85], [19, 'Meena', 58], [20, 'Shyam', 80], [21, 'Kavita', 92], [22, 'Mohan', 74], [23, 'Sneha', 81]]

In [ ]:
roll_no = 5

for i in lst:
  if(i[0] == roll_no):
    print('Name : ',i[1])
    print('Marks : ',i[2])

Name :  Rohan
Marks :  82

In [ ]:
# Define a base structure for new entries
lst = [
    [5, 'Ashish', 67, 43, 56, 45, 64]
]

# Append more entries with a pattern
for i in range(2, 21):  # Start from 2 because 1 is already defined
    lst.append([i, f'Person {i}', i + 65, i + 42, i + 55, i + 44, i + 63])

# Print the updated list

In [ ]:
roll_no = 5

for i in lst:
  if(i[0] == roll_no):
    print('-'*15)
    print('Name  : ', i[1])
    print('Hind  : ', i[2])
    print('Eng   : ', i[3])
    print('Mth   : ', i[4])
    print('-'*15)
    print('Marks : ', i[2]+i[3]+i[4]+i[5]+i[6])
    print('-'*15)
    avg = (i[2]+i[3]+i[4]+i[5]+i[6])/5

    if (avg >= 60):
      print('AVG   : ', avg, '(PASS)')
    else:
      print('AVG   : ', avg, '(FAIL)')
    print('-'*15)

---------------
Name  :  Ashish
Hind  :  67
Eng   :  43
Mth   :  56
---------------
Marks :  275
---------------
AVG   :  55.0 (FAIL)
---------------
---------------
Name  :  Person 5
Hind  :  70
Eng   :  47
Mth   :  60
---------------
Marks :  294
---------------
AVG   :  58.8 (FAIL)
---------------

In [ ]:
lst = [[[1,2,3],[[4],5,[6,7,6],[7,8,9,[10]]],[6,3,[9],5,5],[4,2,3]]]

lst

[[[1, 2, 3],
  [[4], 5, [6, 7, 6], [7, 8, 9, [10]]],
  [6, 3, [9], 5, 5],
  [4, 2, 3]]]

#### 4.2) Dictonaries

In [ ]:
dct = {1 : 'Ashish', 2 : 'Manish', 3 : 'Ashish'}

dct

{1: 'Ashish', 2: 'Manish', 3: 'Ashish'}

In [ ]:
dct = {1 : {'name' : 'Ashish', 'hindi' : 55, 'eng' : 67, 'math' : 78},
       2 : {'name' : 'Manish', 'hindi' : 55, 'eng' : 67, 'math' : 78},
       3 : {'name' : 'Hitesh', 'hindi' : 55, 'eng' : 67, 'math' : 78}}

dct

{1: {'name': 'Ashish', 'hindi': 55, 'eng': 67, 'math': 78},
 2: {'name': 'Manish', 'hindi': 55, 'eng': 67, 'math': 78},
 3: {'name': 'Hitesh', 'hindi': 55, 'eng': 67, 'math': 78}}

In [ ]:
dct[2]['hindi']

55

In [ ]:
dct = {1 : {'name' : 'Ashish', 'marks' : [38,48,87,47,45]},
       2 : {'name' : 'Manish', 'marks' : [38,49,87,47,45]},
       3 : {'name' : 'Hitesh', 'marks' : [38,23,87,47,45]}}

dct

{1: {'name': 'Ashish', 'marks': [38, 48, 87, 47, 45]},
 2: {'name': 'Manish', 'marks': [38, 49, 87, 47, 45]},
 3: {'name': 'Hitesh', 'marks': [38, 23, 87, 47, 45]}}

In [ ]:
dct[2]['marks'][1]

49

In [ ]:
lst = [1 , {'name' : 'Ashish', 'marks' : [38,48,87,47,45]}]

sum(lst[1]['marks'])/len(lst[1]['marks'])

53.0

In [ ]:
import numpy as np

In [ ]:
np.mean([1,23,4,4352,3454])

1566.8

In [ ]:
[1,2,3,4]
[1,2,6,24]

In [5]:
dct = {'2' : 'Ashish', 2 : 'Manish', 1 : 'Manish'}

dct

{'2': 'Ashish', 2: 'Manish', 1: 'Manish'}

In [7]:
dct['2'] = 'Kashish'

In [8]:
dct

{'2': 'Kashish', 2: 'Manish', 1: 'Manish'}