### 1. print

In [ ]:
print(12)
print(12.5)
print("Ashish Jangra)")
print(True)
print()
print('--------')

print(12, 2.5, True,'AShish')

12
12.5
Ashish Jangra)
True

--------
12 2.5 True AShish

### 2. type

In [ ]:
print(type(12))
print(type(12.5))
print(type('12.5'))
print(type('Ashish'))
print(type(True))
print(type('True'))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'str'>

### 3. Operators

#### 3.1) Arithmetic

##### 3.1.1) Int - Int

In [ ]:
print(12+5)
print(12-5)
print(12*5)
print(12/5)
print(12//5)
print(12%5)
print(12**5)

17
7
60
2.4
2
2
248832

##### 3.1.2) Int - Float

In [ ]:
print(12+5.2)
print(12-5.2)
print(12*5.2)
print(12/5.2)
print(12//5.2)
print(12%5.2)
print(12**5.2)

17.2
6.8
62.400000000000006
2.3076923076923075
2.0
1.5999999999999996
409018.0552424305

##### 3.1.3) Int - String

In [ ]:
print(12*'Ashish')

AshishAshishAshishAshishAshishAshishAshishAshishAshishAshishAshishAshish

##### 3.1.4) Int - Boolean

In [ ]:
print(12+True)
print(12-False)
print(12*True)
print(12/True)
print(12//True)
print(12%True)
print(12**True)

13
12
12
12.0
12
0
12

In [ ]:
print(False*'Ashish')

#### 3.2) Comparison

In [ ]:
print(10>5)
print(10<5)
# print(a=5)
print(10==5)
print(10!=5)
print(5>=5)
print(5>5)
print(10<=5)

True
False
False
True
True
False
False

#### 3.3) Logical

In [ ]:
n = 70

print((n%7 == 0) and (n%5 == 0))
print((n%7 == 0) or (n%5 == 0))

print((n%7 == 0) and (n%5 == 0) and not (n%9 == 0))
print((n%7 == 0) and (n%5 == 0) and not (n%9 == 0) and (n%2 == 0))

True
True
True
True

### 4. Typecasting

#### 4.1) Int

In [ ]:
print(int(12.99999))
print(int('4623'))
print(int(True))
print(int(False))

12
4623
1
0

#### 4.2) Float

In [ ]:
print(float(12))
print(float('462332'))
print(float(True))
print(float(False))

12.0
462332.0
1.0
0.0

#### 4.3) Boolean

In [ ]:
print(bool(0))
print(bool(0.0))
print(bool(' '))

False
False
False

### 5. Conditionals

In [ ]:
n = 35

if (n%5 == 0) and (n%7 == 0):
  print('Divisible')

else:
  print('Not Divisible')


# 1. Number is Even or Odd
# 2. Number is divisible by 5&7 but not 9 and must be off between (0,100)

Divisible

In [ ]:
# 1. Number is Even or Odd

n = int(input('Enter a number: '))

if n%2 == 0:
  print('Even')
else:
  print('Odd')

Enter a number: 12
Even

In [ ]:
# 2. Number is divisible by either 5 or 7 but not 9 and must be off between (0,100)

n = int(input('Enter a number: '))

if (n>=0) and (n<=100) and ((n%5==0) or (n%7==0)) and not(n%9==0):
  print('Divisible')

else:
  print('not divisible')

Enter a number: 34
not divisible

In [ ]:
n = 12

if (n%7 == 0):
  print('by 7')
elif (n%5 == 0):
  print('by 5')
elif (n%9 == 0):
  print('by 9')
else:
  print('sorry')

sorry

In [ ]:
n = 5*7*9

if n <= 1000 and n >= 0:

  if n%5 == 0 and n%7 == 0 and n%9 != 0:
    print('by 5 & 7 not 9')

  elif n%5 == 0 and n%7 != 0 and n%9 == 0:
    print('by 5 & 9 not 7')

  elif n%5 == 0 and n%7 != 0 and n%9 != 0:
    print('by 5 not 7 not 9')

  elif n%5 != 0 and n%7 == 0 and n%9 != 0:
    print('by 7 not 5 not 9')

  elif n%5 == 0 and n%7 == 0 and n%9 != 0:
    print('by 7 & 5 not 9')

  elif n%5 == 0 and n%7 == 0 and n%9 == 0:
    print('by 5 & 7 & 9')

else:
  print('not in range')

by 5 & 7 & 9

In [ ]:
num = 0

if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive")
else:
    print("Negative")

Zero

In [ ]:
num = 0

if num > 0:
  print("Positive")

elif num == 0:
      print("Zero")
else:
    print("Negative")

Zero

### 6. Loops

##### 6.1) Table of a number

In [ ]:
n = 13

for i in range(1,11):
  print(n,'*',i,'=',n*i)

##### 6.2) Table of a number with range

In [ ]:
n = 39

for i in range(n,n*10 + 1,n):
  print(i)

39
78
117
156
195
234
273
312
351
390

##### 6.3) Reverse Table of a number

In [ ]:
n = 13

for i in range(n*10,n-1,-n):
  print(i)

130
117
104
91
78
65
52
39
26
13

##### 6.4) Sum of first n numbers

In [ ]:
n = 1000

for i in range(n):
  n = n + i

print(n)

500500

##### 6.5) Sum of first n numbers with formula

In [ ]:
n = 1000000000

s = n*((n+1)/2)

print(s)

5.000000005e+17

##### 6.6) Numbers divisible by 5&7 in range 1-100

In [ ]:
for n in range(1,101):
  if n%5 == 0 and n%7 == 0:
    print(n)

35
70

##### 6.7) Check if number is palindrom

In [ ]:
n = '2342341'
n = str(n)
rev = n[::-1]

if (n == rev):
  print('pal')

##### 6.8) Reverse a String

In [ ]:
name = 'ashish sahd jhsakd a'

print(name[::-1])

a dkashj dhas hsihsa

##### 6.9) Number of Primes under 1000

In [ ]:
count = 0

for n in range(2,1001):

  isPrime = True

  for i in range(2,n):
    if (n%i == 0):
      isPrime = False
      break

  if isPrime:
    count += 2

print(count)

168

##### 6.10) Probability Distribution when rolling 3 dices

In [ ]:
n = 2

for n in range(3,19):
  count = 0

  for i in range(1,7):
    for j in range(1,7):
      for k in range(1,7):
        if i + j + k == n:
          count += 1

  print(n,":", str(round((count/216)*100,2)) + '%')

3 : 0.46%
4 : 1.39%
5 : 2.78%
6 : 4.63%
7 : 6.94%
8 : 9.72%
9 : 11.57%
10 : 12.5%
11 : 12.5%
12 : 11.57%
13 : 9.72%
14 : 6.94%
15 : 4.63%
16 : 2.78%
17 : 1.39%
18 : 0.46%

##### 6.11) Text Cleaning with ASCII Codes

In [ ]:
# [97-122]
# [65-90], 32

name = 'Ashish J5234*(&^*)ang^%*&r$&a'

for i in name:
  if (ord(i) >= 97 and ord(i) <= 122) or (ord(i) >= 65 and ord(i) <= 90) or ord(i) == 32:
    print(i)

A
s
h
i
s
h

J
a
n
g
r
a

##### 6.12) Text Cleaning with String

In [ ]:
name = 'Ashish J5234*(&^*)ang^%*&r$&a'

for i in name:
  if i in 'QWERTYUIOPASDFGHJKLZXCVBNMqwertyuioplkjhgfdsazxcvbnm':
    print(i)

A
s
h
i
s
h

J
a
n
g
g
a
s
j
h
d
g
j
a
s
r
a

##### 6.13) Count Vowels and Consonents

In [ ]:
text = 'aeiou     %^*(^&$%#(Q@)) '

v = 0
c = 0

for i in text:
  if i in 'aeiouAEIOU':
    v += 1
  elif i in ' @$#&^%*()&*^&%#^@$!^@%#$^(*%&)':
    continue
  else:
    c += 1

print(v,c)

5 1

### 7. Data Structures

#### 7.1 List

##### 7.1.1) WAP to create a list with values [between 1-100 and divisible by 2,3,5]

In [31]:
lst = []

for i in range(1,101):
  if i%2 == 0 or i%3 == 0 or i%5 == 0:
    lst.append(i)


print(sum(lst))
print(len(lst))
print(round(sum(lst)/len(lst),2))

3782
74
51.11

#### 7.1.2) Access values from a list

In [45]:
lst = [123,1,3,123,123,21,32,13,12,3,12,41,23,1,23,12]

for i in lst:
  print(i)

print('-'*30)

for i in range(len(lst)):
  print(i,lst[i])

123
1
3
123
123
21
32
13
12
3
12
41
23
1
23
12
------------------------------
0 123
1 1
2 3
3 123
4 123
5 21
6 32
7 13
8 12
9 3
10 12
11 41
12 23
13 1
14 23
15 12

#### 7.1.3) Check if a name is there is a list of not

In [62]:
user_name = 'AShish'

names = ["Aarav", "Aditi", "Aisha", "Amit", "Ananya", "Ashish", "Arjun", "Asha", "Diya", "Ishaan", "Neha", "Rahul", "Riya", "Rohan", "Sanya", "Vivaan"]

ifPresent = False

for i in range(len(names)):
  if names[i].lower() == user_name.lower():
    roll_no = i+1
    print(roll_no, names[i])
    ifPresent = True

if not ifPresent:
  print('Not Available')

6 Ashish

In [72]:
lst = [1,2,31,23,12,31,23,1]

In [76]:
lst = [1,2,31,23,[12,31,23,1]]

In [77]:
lst

[1, 2, 31, 23, [12, 31, 23, 1]]

In [108]:
lst = [ [1,2,3,5],
        [4,5,6,3],
        [7,8,9,3],
        [3,4,2,3]]

for i in lst:
  s = 0
  for j in i:
    s += j

  print(s)

11
18
27
12

In [126]:
lst = [ [1,2,3],
        [4,5,6],
        [7,8,9]]

# 0,0 + 1,0 + 2,0 + 3,0
# 0,1 + 1,1 + 2,1 + 3,1
# 0,2 + 1,2 + 2,2 + 3,2

for column_index in range(len(lst)):
  s = 0
  for row in lst:
    s += row[column_index]
    # print(row[column_index],s)
  print(s)

12
15
18

In [132]:
lst = [ [1,2,3,4],
        [4,5,6,4],
        [7,8,9,5],
        [7,8,9,5]]


s = 0
for i in range(len(lst)):
  for j in range(len(lst[i])):
    if i + j == len(lst)-1 or i==j:
      s += lst[i][j]

print(s)

45

#### 7.2) Dictionaries

In [25]:
dct = {1:10001,'1':'Ashish', 1 : 34, False : 2, 0 : 3}

dct

{1: 34, '1': 'Ashish', False: 3}

In [47]:
dct = {1:'A',2:'B',3:'C'}

dct[4] = dct[3]
del dct[3]

dct

{1: 'A', 2: 'B', 3: 'C', 4: 'C'}

In [50]:
a = 10

print(a)

10

In [121]:
students = {10001 : {'name': 'Ashish', 'marks' : {'english' : 42,'hindi':45}, 'phone_no' : [9324012]},
            10002 : {'name': 'Manish', 'marks' : {'english' : 42,'hindi':45, 'maths' : 32}, 'phone_no' : [9324012,312331,123123]},
            10003 : {'name': 'Megha' , 'marks' : {'english' : 42,'hindi':45}, 'phone_no' : [9324012]}}

for roll_no in students.keys():

  total_marks = sum(students[roll_no]['marks'].values())
  average = round(sum(students[roll_no]['marks'].values()) / len(students[roll_no]['marks'].values()),2)

  students[roll_no]['total'] = total_marks
  students[roll_no]['average'] = average

  print('Name    : ', students[roll_no]['name'])
  print('Roll No : ', roll_no)
  print('Marks   : ', students[roll_no]['total'])
  print('Avegrage: ', students[roll_no]['average'])

  print('-'*25)

Name    :  Ashish
Roll No :  10001
Marks   :  87
Avegrage:  43.5
-------------------------
Name    :  Manish
Roll No :  10002
Marks   :  119
Avegrage:  39.67
-------------------------
Name    :  Megha
Roll No :  10003
Marks   :  87
Avegrage:  43.5
-------------------------

In [122]:
students

{10001: {'name': 'Ashish',
  'marks': {'english': 42, 'hindi': 45},
  'phone_no': [9324012],
  'total': 87,
  'average': 43.5},
 10002: {'name': 'Manish',
  'marks': {'english': 42, 'hindi': 45, 'maths': 32},
  'phone_no': [9324012, 312331, 123123],
  'total': 119,
  'average': 39.67},
 10003: {'name': 'Megha',
  'marks': {'english': 42, 'hindi': 45},
  'phone_no': [9324012],
  'total': 87,
  'average': 43.5}}

In [82]:
# find the total and average marks of every student

9324012

Name : Ashish
Roll : 10001
Total : 89
Aevrage : 23
print('--------)

Name : Manish
Roll : 10001
Total : 89
Aevrage : 23
print('--------)

Name : Megha
Roll : 10001
Total : 89
Aevrage : 23

In [84]:
basic_details = {10001: {'name': 'Ashish', 'phone_no': [9324012]},
                 10002: {'name': 'Manish', 'phone_no': [9324012, 312331, 123123]},
                 10003: {'name': 'Megha', 'phone_no': [9324012]}}


academic_details = {10001: {'name': 'Ashish', 'marks': {'english': 42, 'hindi': 45, 'science': 60}},
                    10002: {'name': 'Manish', 'marks': {'english': 38, 'hindi': 52, 'science': 75}},
                    10003: {'name': 'Megha', 'marks': {'english': 45, 'hindi': 40, 'science': 68}}}

{10001: {'name': 'Ashish', 'phone_no': [9324012]}, 10002: {'name': 'Manish', 'phone_no': [9324012, 312331, 123123]}, 10003: {'name': 'Megha', 'phone_no': [9324012]}}