### 1. Introduction to Python

#####  1.1) Hello World

In [ ]:
print('Hello World')

Hello World

#### 1.2) Dealing with Datatypes

1.2.1) int

In [ ]:
print(type(12))
print(type(-12))
print(type(0))

<class 'int'>
<class 'int'>
<class 'int'>

1.2.2) float

In [ ]:
print(type(12.5))
print(type(0.000000001))
print(type(0.0))

<class 'float'>
<class 'float'>
<class 'float'>

1.2.3) string

In [ ]:
print(type('A'))
print(type('Ashish Jangra'))
print(type('Ashish Jangra is a data scince mentor at gfg'))
print(type('5.5'))
print(type('True'))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

1.2.4) boolean

In [ ]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

#### 1.3) Operators

1.3.1) Arithmetic Operator

In [ ]:
print('--INT--')
print(2+3)
print(2-3)
print(3/2)
print(3//2)
print(3%2)
print(2*3)
print(2**3)

print()
print()
print()
print('--STR--')
print('A' + 'A')
print('Ashish' * 3)

print()
print()
print()
print('--Bool--')

print(True + True)
print(True + False)
print(False + True)
print(False + False)
print('-'*5)

print(True * True)
print(True * False)
print(False * True)
print(False * False)

--INT--
5
-1
1.5
1
1
6
8



--STR--
AA
AshishAshishAshish



--Bool--
2
1
1
0
-----
1
0
0
0

1.3.2) Comparison Operators

In [ ]:
print(2>3)
print(2<3)
print(2>=3)
print(2<=3)
print(2==3)
print(2!=3)

print(2=='2')
print(1 == True)
print(100 == True*100)

False
True
False
True
False
True

1.3.3) Logical Operators

In [ ]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

print(True or True)
print(True or False)
print(False or True)
print(False or False)

print(not(True))

True
False
False
False
True
True
True
False
False

#### 1.4) Typecasting

1.4.1) int

In [ ]:
print(int(12.5))
print(type(int(12.5)))

print(int('121312'))
print(type(int('121312')))

print(int(True))
print(type(int(True)))

12
<class 'int'>
121312
<class 'int'>
1
<class 'int'>

1.4.2) float

In [ ]:
print(float(12))

print(float('12'))

print(float(True))

12.0
12.0
1.0

1.4.3) str

In [ ]:
print(str(12))

print(str(12.5))

print(str(True))

12
12.5
True

1.4.4) bool

In [2]:
print(bool(0.0000000000000000))


print(bool('0'))
print(bool('a'))
print(bool(''))

False
True
True
False

#### 1.5) Variables

In [24]:
a = 15
b = 6

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

21
9
90
2.5
2
3
11390625

### 2. Conditionals

In [87]:
age = int(input('Enter the age : '))

if age >= 18 and age <= 100:
  print('You are eligible to vote')
elif age >= 0 and age < 18:
  print('Not eligible to vote')
else:
  print('Invalid age')

Enter the age : -576
Invalid age

- Write a Python function that checks if a number is positive. If it is, print "Positive".


- Write a Python function that checks if a number is even or odd. Print "Even" for even numbers and "Odd" for odd numbers.


- Write a Python function that checks a number and prints "Positive", "Negative", or "Zero" based on its value.


- Write a Python function that checks if a number is positive and even. If it is, print "Positive and Even".


- Write a Python function that checks a grade and prints "A" for scores 90 and above, "B" for scores 80-89, "C" for scores 70-79, "D" for scores 60-69, and "F" for scores below 60.


- Write a Python function that checks if a year is a leap year. A year is a leap year if it is divisible by 4 but not divisible by 100, except when it is divisible by 400.


- Write a Python function that checks if a number is within a specific range (10 to 20 inclusive) and prints "In range" if it is, otherwise print "Out of range".


- Write a Python function that checks if a character is a vowel. If it is, print "Vowel", otherwise print "Consonant".


- Write a Python one-liner that checks if a number is greater than 100 and assigns the string "Large" or "Small" based on the result.


- Write a Python function that takes a list of numbers and prints "All positive" if all numbers in the list are positive, otherwise print "Contains negative".