### 1. print

In [ ]:
print(12)
print(12.5)
print("Ashish Jangra)")
print(True)
print()
print('--------')

print(12, 2.5, True,'AShish')

12
12.5
Ashish Jangra)
True

--------
12 2.5 True AShish

### 2. type

In [ ]:
print(type(12))
print(type(12.5))
print(type('12.5'))
print(type('Ashish'))
print(type(True))
print(type('True'))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'str'>

### 3. Operators

#### 3.1) Arithmetic

##### 3.1.1) Int - Int

In [ ]:
print(12+5)
print(12-5)
print(12*5)
print(12/5)
print(12//5)
print(12%5)
print(12**5)

17
7
60
2.4
2
2
248832

##### 3.1.2) Int - Float

In [ ]:
print(12+5.2)
print(12-5.2)
print(12*5.2)
print(12/5.2)
print(12//5.2)
print(12%5.2)
print(12**5.2)

17.2
6.8
62.400000000000006
2.3076923076923075
2.0
1.5999999999999996
409018.0552424305

##### 3.1.3) Int - String

In [ ]:
print(12*'Ashish')

AshishAshishAshishAshishAshishAshishAshishAshishAshishAshishAshishAshish

##### 3.1.4) Int - Boolean

In [ ]:
print(12+True)
print(12-False)
print(12*True)
print(12/True)
print(12//True)
print(12%True)
print(12**True)

13
12
12
12.0
12
0
12

In [ ]:
print(False*'Ashish')

#### 3.2) Comparison

In [ ]:
print(10>5)
print(10<5)
# print(a=5)
print(10==5)
print(10!=5)
print(5>=5)
print(5>5)
print(10<=5)

True
False
False
True
True
False
False

#### 3.3) Logical

In [ ]:
n = 70

print((n%7 == 0) and (n%5 == 0))
print((n%7 == 0) or (n%5 == 0))

print((n%7 == 0) and (n%5 == 0) and not (n%9 == 0))
print((n%7 == 0) and (n%5 == 0) and not (n%9 == 0) and (n%2 == 0))

True
True
True
True

### 4. Typecasting

#### 4.1) Int

In [ ]:
print(int(12.99999))
print(int('4623'))
print(int(True))
print(int(False))

12
4623
1
0

#### 4.2) Float

In [ ]:
print(float(12))
print(float('462332'))
print(float(True))
print(float(False))

12.0
462332.0
1.0
0.0

#### 4.3) Boolean

In [ ]:
print(bool(0))
print(bool(0.0))
print(bool(' '))

False
False
False

### 5. Conditionals

In [1]:
n = 35

if (n%5 == 0) and (n%7 == 0):
  print('Divisible')

else:
  print('Not Divisible')


# 1. Number is Even or Odd
# 2. Number is divisible by 5&7 but not 9 and must be off between (0,100)

Divisible

In [2]:
# 1. Number is Even or Odd

n = int(input('Enter a number: '))

if n%2 == 0:
  print('Even')
else:
  print('Odd')

Enter a number: 12
Even

In [3]:
# 2. Number is divisible by either 5 or 7 but not 9 and must be off between (0,100)

n = int(input('Enter a number: '))

if (n>=0) and (n<=100) and ((n%5==0) or (n%7==0)) and not(n%9==0):
  print('Divisible')

else:
  print('not divisible')

Enter a number: 34
not divisible

In [4]:
n = 12

if (n%7 == 0):
  print('by 7')
elif (n%5 == 0):
  print('by 5')
elif (n%9 == 0):
  print('by 9')
else:
  print('sorry')

sorry

In [5]:
n = 5*7*9

if n <= 1000 and n >= 0:

  if n%5 == 0 and n%7 == 0 and n%9 != 0:
    print('by 5 & 7 not 9')

  elif n%5 == 0 and n%7 != 0 and n%9 == 0:
    print('by 5 & 9 not 7')

  elif n%5 == 0 and n%7 != 0 and n%9 != 0:
    print('by 5 not 7 not 9')

  elif n%5 != 0 and n%7 == 0 and n%9 != 0:
    print('by 7 not 5 not 9')

  elif n%5 == 0 and n%7 == 0 and n%9 != 0:
    print('by 7 & 5 not 9')

  elif n%5 == 0 and n%7 == 0 and n%9 == 0:
    print('by 5 & 7 & 9')

else:
  print('not in range')

by 5 & 7 & 9

In [6]:
num = 0

if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive")
else:
    print("Negative")

Zero

In [7]:
num = 0

if num > 0:
  print("Positive")

elif num == 0:
      print("Zero")
else:
    print("Negative")

Zero

### 6. Loops

In [30]:
n = 13

for i in range(1,11):
  print(n,'*',i,'=',n*i)

In [44]:
n = 39

for i in range(n,n*10 + 1,n):
  print(i)

39
78
117
156
195
234
273
312
351
390

In [52]:
n = 13

for i in range(n*10,n-1,-n):
  print(i)

130
117
104
91
78
65
52
39
26
13

In [79]:
n = 1000

for i in range(n):
  n = n + i

print(n)

500500

In [77]:
n = 1000000000

s = n*((n+1)/2)

print(s)

5.000000005e+17

In [93]:
for n in range(1,101):
  if n%5 == 0 and n%7 == 0:
    print(n)

35
70

In [138]:
n = '2342341'
n = str(n)
rev = n[::-1]

if (n == rev):
  print('pal')

In [137]:
name = 'ashish sahd jhsakd a'

print(name[::-1])

a dkashj dhas hsihsa

In [99]:
str(2434123

AttributeError: type object 'reversed' has no attribute 'str'

In [ ]:
123123
321321

step 1:
  123123/10 = 12312
  123123%10 = 3

  3*10 = 30

step 2:
  12312/10 = 1231
  12312%10 = 2

  30 + 2
  32 * 10= 320

step 3:
  1231/10 = 123
  1231%10 = 1
  320+1 321*10 = 3210

step 4:
  123/10 = 12
  123%10 = 3

step 5:
  12/10 = 1
  12%10 = 2

step 6:
  1/10 = 0
  1%10 = 1

In [81]:
n = 10

for i in range(n):
  print(i)

print(n)

0
1
2
3
4
5
6
7
8
9
10

In [143]:
n = 10

for i in range(2,n):
  if (n%i == 0):
    n  + 1
    print(n)

print('prime')

nap
nap
prime