### 1. Datatypes

##### 1.1) print()

In [ ]:
print("Ashish Jangra asd hkjashd kjhsakjd hjksahd khask dks")

Ashish Jangra asd hkjashd kjhsakjd hjksahd khask dks

##### 1.2) different datatypes

In [ ]:
print(0.0)
print(0)
print(False)
print('0.asdasd3458r13fd')

##### 1.3) type

In [ ]:
print(type(0.0))
print(type(0))
print(type(False))
print(type('0.asdasd3458r13fd'))

### 2. Operators

#### 2.1) Arithmetic

In [ ]:
print(3+2)
print(3-2)
print(3*2)
print(3/2)
print(3//2)
print(3%2)
print(3**2)

print(3*'Ashish')
print('Ashish' + 'Jangra')

print(True + True + True)
print(False + False + False)

print('Ashish'*False)
print(5*True)

5
1
6
1.5
1
1
9
AshishAshishAshish
AshishJangra
3
0

5

#### 2.2) Comparison

In [ ]:
print(2>3)
print(2>=3)
print(2>=3)
print(2<3)
print(2<=3)
print(2!=3)
print(2==3)

False
False
True
True
True
False

#### 2.3) Logical

In [ ]:
age = 19

print((age >= 18) and (age <= 100))
print((age >= 18) or (age <= 100))
print(not(True))

True
True
False

### 3. Typecasting

In [ ]:
#int - str,bool,float
print(int(3.14), int(True), int(False), int('423432432412'))

#str - int,bool,float
print(str(3.14), str(True), str(False), str(3))

#float- int, bool,str
print(float(3), float(True), float(False), float('3'))

#bool - int,float,str
print(bool(3), bool(True), bool(False), bool('3'))

3 1 0 423432432412
3.14 True False 3
3.0 1.0 0.0 3.0
True True False True

### 4. Conditionals

In [ ]:
age = 18

if (age >= 18) and (age <= 100):
  print('eligible')

if (age >= 0) and (age <= 18):
  print('not eligibl')

if (age < 0) or (age > 100):
  print('not a valid age')

eligible
not eligibl

In [ ]:
age = 18

if (age >= 18) and (age <= 100):
  print('eligible')

elif (age >= 0) and (age <= 18):
  print('not eligibl')

else:
  print('not a valid age')

eligible

In [ ]:
n = 35

if (n%5 == 0) and (n%7 == 0):
  print("5 and 7")

elif (n%5 == 0) and (n%7 != 0):
  print("5 not 7")

elif (n%5 == 0) and (n%7 == 0):
  print("7 not 5")

else:
  print('not 5 not 7')

5 and 7

In [ ]:
n = 70

if n%5 == 0:
  if n%7 == 0:
    print('5 and 7')
  else:
    print('5 not 7')

elif n%7 == 0:
  print('7 not 5')

else:
  print("not 7 not 5")

5 and 7

### 5. Loops

In [ ]:
n = 17

for i in range(1,11):
  print(n ,'*', i,'=', n * i)

17 * 1 = 17
17 * 2 = 34
17 * 3 = 51
17 * 4 = 68
17 * 5 = 85
17 * 6 = 102
17 * 7 = 119
17 * 8 = 136
17 * 9 = 153
17 * 10 = 170

In [ ]:
n = 10000
s = 0

for i in range(1,n+1):
  s += i

print(s)

50005000

In [ ]:
for num in range(3,19):

  c = 0

  for i in range(1,7):
    for j in range(1,7):
      for k in range(1,7):
        if i+j+k == num:
          c += 1

  print(num, round(((c/216)*100),2),'%')

3 0.46 %
4 1.39 %
5 2.78 %
6 4.63 %
7 6.94 %
8 9.72 %
9 11.57 %
10 12.5 %
11 12.5 %
12 11.57 %
13 9.72 %
14 6.94 %
15 4.63 %
16 2.78 %
17 1.39 %
18 0.46 %

In [ ]:
for i in range(1,7):
  for j in range(1,7):
    for k in range(1,7):
      print(i,j,k)
    print('-'*10)
  print('*'*10)

1 1 1
1 1 2
1 1 3
1 1 4
1 1 5
1 1 6
----------
1 2 1
1 2 2
1 2 3
1 2 4
1 2 5
1 2 6
----------
1 3 1
1 3 2
1 3 3
1 3 4
1 3 5
1 3 6
----------
1 4 1
1 4 2
1 4 3
1 4 4
1 4 5
1 4 6
----------
1 5 1
1 5 2
1 5 3
1 5 4
1 5 5
1 5 6
----------
1 6 1
1 6 2
1 6 3
1 6 4
1 6 5
1 6 6
----------
**********
2 1 1
2 1 2
2 1 3
2 1 4
2 1 5
2 1 6
----------
2 2 1
2 2 2
2 2 3
2 2 4
2 2 5
2 2 6
----------
2 3 1
2 3 2
2 3 3
2 3 4
2 3 5
2 3 6
----------
2 4 1
2 4 2
2 4 3
2 4 4
2 4 5
2 4 6
----------
2 5 1
2 5 2
2 5 3
2 5 4
2 5 5
2 5 6
----------
2 6 1
2 6 2
2 6 3
2 6 4
2 6 5
2 6 6
----------
**********
3 1 1
3 1 2
3 1 3
3 1 4
3 1 5
3 1 6
----------
3 2 1
3 2 2
3 2 3
3 2 4
3 2 5
3 2 6
----------
3 3 1
3 3 2
3 3 3
3 3 4
3 3 5
3 3 6
----------
3 4 1
3 4 2
3 4 3
3 4 4
3 4 5
3 4 6
----------
3 5 1
3 5 2
3 5 3
3 5 4
3 5 5
3 5 6
----------
3 6 1
3 6 2
3 6 3
3 6 4
3 6 5
3 6 6
----------
**********
4 1 1
4 1 2
4 1 3
4 1 4
4 1 5
4 1 6
----------
4 2 1
4 2 2
4 2 3
4 2 4
4 2 5
4 2 6
----------
4 3 1
4 3 2
4 3 3
4 3 4
4 3 5
4 3 6
----------
4 4 1
4 4 2
4 4 3
4 4 4
4 4 5
4 4 6
----------
4 5 1
4 5 2
4 5 3
4 5 4
4 5 5
4 5 6
----------
4 6 1
4 6 2
4 6 3
4 6 4
4 6 5
4 6 6
----------
**********
5 1 1
5 1 2
5 1 3
5 1 4
5 1 5
5 1 6
----------
5 2 1
5 2 2
5 2 3
5 2 4
5 2 5
5 2 6
----------
5 3 1
5 3 2
5 3 3
5 3 4
5 3 5
5 3 6
----------
5 4 1
5 4 2
5 4 3
5 4 4
5 4 5
5 4 6
----------
5 5 1
5 5 2
5 5 3
5 5 4
5 5 5
5 5 6
----------
5 6 1
5 6 2
5 6 3
5 6 4
5 6 5
5 6 6
----------
**********
6 1 1
6 1 2
6 1 3
6 1 4
6 1 5
6 1 6
----------
6 2 1
6 2 2
6 2 3
6 2 4
6 2 5
6 2 6
----------
6 3 1
6 3 2
6 3 3
6 3 4
6 3 5
6 3 6
----------
6 4 1
6 4 2
6 4 3
6 4 4
6 4 5
6 4 6
----------
6 5 1
6 5 2
6 5 3
6 5 4
6 5 5
6 5 6
----------
6 6 1
6 6 2
6 6 3
6 6 4
6 6 5
6 6 6
----------
**********

### 6. Data Structures (List)

In [ ]:
lst = []

for i in range(2,1001,2):
  if(i%7 == 0) and (i%5 == 0):
    lst.append(i)

print(lst)

[70, 140, 210, 280, 350, 420, 490, 560, 630, 700, 770, 840, 910, 980]

In [ ]:
primes = []


for n in range(2,1001):

  c = 0

  for i in range(2,n):
    if n%i == 0:
      c += 1

  if c == 0:
    primes.append(n)

print(len(primes))

168

In [ ]:
lst = [34,54,34,54,35,54,34,54]
clean_lst = []

for i in range(len(lst)):
  if lst[i] >= 50:
    clean_lst.append(lst[i]**2)

print(clean_lst)

[2916, 2916, 2916, 2916]

In [ ]:
s = 0

lst = [ [1,2,3],
        [4,5,6],
        [7,8,9]]

for i in range(0,len(lst)):
  for j in range(0,len(lst)):
    if (i+j == len(lst)-1) or (i==j):
      s = s + lst[i][j]


if len(lst)%2 == 0:
  print(s)
else:
  print(s - lst[len(lst)//2][len(lst)//2])

20

### 7. Dictionaries

In [24]:
dct = {}

for roll_no in range(1,6):
  name = input('Enter the name of roll no. ' + str(roll_no) + ' : ')
  dct[roll_no] = name

print(dct)

Enter the name of roll no. 1 : Ashish
Enter the name of roll no. 2 : Manish
Enter the name of roll no. 3 : Sahil
Enter the name of roll no. 4 : Sohum
Enter the name of roll no. 5 : Paras
{1: 'Ashish', 2: 'Manish', 3: 'Sahil', 4: 'Sohum', 5: 'Paras'}

In [27]:
dct[3] = 'Sohum'

In [90]:
data = {
    1: {'name': 'Ashish', 'phone': 431432513, 'address': 'Noida', 'marks': {'hindi': 34, 'english': 53, 'maths': 53,'punjabi' : 43} },
    2: {'name': 'Manish', 'phone': 431432513, 'address': 'Noida', 'marks': {'hindi': 30, 'english': 23, 'maths': 83} },
    3: {'name': 'Mohan', 'phone': 431432513, 'address': 'Noida', 'marks': {'hindi': 43, 'english': 78, 'maths': 15}},
    4: {'name': 'Sohan', 'phone': 9876543210, 'address': 'Delhi', 'marks': {'hindi': 78, 'english': 65, 'maths': 92}},
}

for roll_no in data.keys():

  total_marks = sum(list(data[roll_no]['marks'].values()))
  total_exams = len(data[roll_no]['marks'].values())

  print(total_marks)

  # 'average' : round(total_marks/total_exams,2)





  # print('Roll No       : ', roll_no)
  # print('Name          : ', data[roll_no]['name'])
  # print('Total Marks   : ', total_marks)
  # print('Average Marks : ', round(total_marks/total_exams,2))
  # print('-'*25)

183
136
136
235

Roll No : 1
Name : Ashish
Total Marks :
Average 🇰
---------
Roll No : 2
Name : Ashish
Total Marks :
Average
---------
Roll No : 3
Name : Ashish
Total Marks :
Average

In [103]:
data =  { 1: {'name': 'Ashish', 'phone': 431432513, 'address': 'Noida', 'marks': {'hindi': 34, 'english': 53, 'maths': 53,'punjabi' : 43} },
          2: {'name': 'Manish', 'phone': 431432513, 'address': 'Noida', 'marks': {'hindi': 30, 'english': 23, 'maths': 83} },
          3: {'name': 'Mohan', 'phone': 431432513, 'address': 'Noida', 'marks': {'hindi': 43, 'english': 78, 'maths': 15}},
          4: {'name': 'Sohan', 'phone': 9876543210, 'address': 'Delhi', 'marks': {'hindi': 78, 'english': 65, 'maths': 92}}}

for roll_no in data.keys():
  total_marks = sum(list(data[roll_no]['marks'].values()))
  total_exams = len(data[roll_no]['marks'].values())
  average = round(total_marks/total_exams,2)

  if average >= 90:
    grade = 'A'
  elif average >= 80:
    grade = 'B'
  elif average >= 70:
    grade = 'C'
  elif average >= 60:
    grade = 'D'
  else:
    grade = 'f'

  data[roll_no]['average'] = average
  data[roll_no]['grade'] = grade

In [104]:
data

{1: {'name': 'Ashish',
  'phone': 431432513,
  'address': 'Noida',
  'marks': {'hindi': 34, 'english': 53, 'maths': 53, 'punjabi': 43},
  'average': 45.75,
  'grade': 'f'},
 2: {'name': 'Manish',
  'phone': 431432513,
  'address': 'Noida',
  'marks': {'hindi': 30, 'english': 23, 'maths': 83},
  'average': 45.33,
  'grade': 'f'},
 3: {'name': 'Mohan',
  'phone': 431432513,
  'address': 'Noida',
  'marks': {'hindi': 43, 'english': 78, 'maths': 15},
  'average': 45.33,
  'grade': 'f'},
 4: {'name': 'Sohan',
  'phone': 9876543210,
  'address': 'Delhi',
  'marks': {'hindi': 78, 'english': 65, 'maths': 92},
  'average': 78.33,
  'grade': 'C'}}

In [100]:
data[1]

{'name': 'Ashish',
 'phone': 431432513,
 'address': 'Noida',
 'marks': {'hindi': 34, 'english': 53, 'maths': 53, 'punjabi': 43},
 'average': 78.33}

In [105]:
data =  { 1: {'name': 'Ashish', 'phone': [431432513], 'address': 'Noida', 'marks': {'hindi': 34, 'english': 53, 'maths': 53,'punjabi' : 43} },
          2: {'name': 'Manish', 'phone': [431432513,4123412,43231231], 'address': 'Noida', 'marks': {'hindi': 30, 'english': 23, 'maths': 83} },
          3: {'name': 'Mohan', 'phone': [431432513], 'address': 'Noida', 'marks': {'hindi': 43, 'english': 78, 'maths': 15}},
          4: {'name': 'Sohan', 'phone': [9876543210], 'address': 'Delhi', 'marks': {'hindi': 78, 'english': 65, 'maths': 92}}}

[123, 12, 3, 12, 31, {1: 2}, 2]