# **1**. Lists

In [ ]:
user_name = 'Akash'
phone_no = 92123874128
address = 'delhi'
batch = 'd-10'
email = 'akash@gmail.com'
gender = ''
dob = ''
education_background = ''
isWorking = True

In [ ]:
user_1 = ['Akash',92123874128,'delhi','d-10']

In [ ]:
user_1.append(12)

In [ ]:
user_1

['Akash', 92123874128, 'delhi', 'd-10', 12, 12, 12, 12, 12, 12]

In [ ]:
user_1

['Akash', 92123874128, 'delhi', 'd-10']

In [ ]:
user_1[0] = 'Manish'

In [ ]:
user_1

['Manish', 92123874128, 'delhi', 'd-10']

### 1.2) Practice List

##### 1.2.1) append all the even numbers between 0-100 into the list

In [ ]:
lst = []

for i in range(2,100,2):
  lst.append(i)

print(lst)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

##### 1.2.2) sum of all the elements of a list

In [ ]:
s = 0

for i in range(len(lst)):
  s = s + lst[i]

print(s)

2450

##### 1.2.3) sum of all the even place elements of a list

In [ ]:
sum_even = 0

for i in range(len(lst)):
  if i%2 == 0:
    sum_even = sum_even + lst[i]

print(sum_even)

1250

##### 1.2.4) sum of all the odd place elements of a list

In [ ]:
sum_odd = 0

for i in range(len(lst)):
  if i%2 != 0:
    sum_odd = sum_odd + lst[i]

print(sum_odd)

1200

##### 1.2.5) difference between even and off place element sum of a list

In [ ]:
print(sum_even - sum_odd)

50

In [ ]:
n = int(input('enter a number : '))

# 5 ,100, 12300, 1287782231

s = 0
for i in range(n+1):
  s += i
print(s)

enter a number : 6
21

In [ ]:
1 = 1
2 = 3
3 = 6 (3*2)
4 = 10 (4*2.5)
5 = 15 (5*3)
6 = 21 (6*3.5)
7 = 28 (7*4)
8 = 36 (8*4.5)

3 = 6 (3*2)
5 = 15 (5*3)
7 = 28 (7*4)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (ipython-input-86-2188391950.py, line 1)

In [ ]:
n = 8

print(n * ((n//2) + .5))

36.0

In [ ]:
n = 26598326498239841

print(n * ((n//2) + 1))

5

In [ ]:
n = 6
print(n*(n+1)//2)

21

### 1.3) Assignment List

Here are some practice questions on basic 1D lists in Python:

```fruits = ['apple', 'banana', 'cherry', 'date', 'grape', 'mango', 'orange', 'strawberry']```


1. **Creating and Accessing Lists:**
   - Create a list named `fruits` containing the strings 'apple', 'banana', 'cherry', and 'date'.
   - Print the first element of the `fruits` list.
   - Print the last element of the `fruits` list.
   - Print the elements from the second to the third element (inclusive) of the `fruits` list using slicing.

2. **Modifying Lists:**
   - Add the string 'grape' to the end of the `fruits` list.
   - Change the second element of the `fruits` list to 'blueberry'.
   - Insert the string 'orange' at the beginning of the `fruits` list.
   - Remove the element 'cherry' from the `fruits` list.

3. **List Operations:**
   - Create a list of numbers from 1 to 10.
   - Find the length of the list of numbers.
   - Find the maximum value in the list of numbers.
   - Find the minimum value in the list of numbers.
   - Calculate the sum of all numbers in the list.

4. **Iterating through Lists:**
   - Iterate through the `fruits` list and print each fruit on a new line.
   - Iterate through the list of numbers and print only the even numbers.


5. **Checking Membership:**
   - Check if 'banana' is present in the `fruits` list.
   - Check if 'kiwi' is present in the `fruits` list.

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'date', 'grape', 'mango', 'orange', 'strawberry']
print(fruits)

In [ ]:
da_10   = [['Akash',[92123874128,4123121],'delhi','d-10'],
           ['Akash',92123874128,'delhi','d-10'],
           ['Akash',92123874128,'delhi','d-10'],
           ['Akash',92123874128,'delhi','d-10'],
           ['Akash',92123874128,'delhi','d-10'],
           ['Akash',92123874128,'delhi','d-10'],
           ['Akash',92123874128,'delhi','d-10'],
           ['Akash',92123874128,'delhi','d-10']]

In [ ]:
lst = [[1,2,3],
       [4,5,6],
       [7,8,9]]

# 1. find the sum of all teh elements of this list
# 2. find the sum elements row wise
# 3. find the sum elements column wise
# 4. find the sum elements left diagonal wise
# 5. find the sum elements right diagonal wise
# 6. find the sum elements both the diagonal

In [ ]:
lst = [[1,2,3,4],
       [4,5,6,6],
       [7,8,9,4],
       [7,8,9,4]]

# **2**. Dictionary

In [10]:
lst = [12,12.5,'AJ1',1,1,11,1,True]

In [53]:
user_name = 'Akash'
phone_no = 92123874128
address = 'delhi'
batch = 'd-10'
email = 'akash@gmail.com'
gender = ''
dob = ''
education_background = ''
isWorking = True

dct = {'roll_no' : 101, 'roll_no' : 102, 'name' : 'Manish', 'address' : 'noida', 'phone' : 1269841212}

In [86]:
dct = {101 : {'name' : 'a', 'address' : 'noida', 'phone' : [1269841212], 'marks' : {'eng' : 56, 'hindi':67,'maths' : 88}},
       102 : {'name' : 'b', 'address' : 'noida', 'phone' : [1269841212], 'marks' : {'eng' : 56, 'hindi':67,'maths' : 88}},
       103 : {'name' : 'c', 'address' : 'noida', 'phone' : [1269841212], 'marks' : {'eng' : 56, 'hindi':67,'maths' : 88}},
       104 : {'name' : 'd', 'address' : 'noida', 'phone' : [1269841212], 'marks' : {'eng' : 56, 'hindi':67,'maths' : 88}},
       105 : {'name' : 'e', 'address' : 'noida', 'phone' : [1269841212], 'marks' : {'eng' : 56, 'hindi':67,'maths' : 88}}}

In [87]:
dct

{101: {'name': 'a',
  'address': 'noida',
  'phone': [1269841212],
  'marks': {'eng': 56, 'hindi': 67, 'maths': 88}},
 102: {'name': 'b',
  'address': 'noida',
  'phone': [1269841212],
  'marks': {'eng': 56, 'hindi': 67, 'maths': 88}},
 103: {'name': 'c',
  'address': 'noida',
  'phone': [1269841212],
  'marks': {'eng': 56, 'hindi': 67, 'maths': 88}},
 104: {'name': 'd',
  'address': 'noida',
  'phone': [1269841212],
  'marks': {'eng': 56, 'hindi': 67, 'maths': 88}},
 105: {'name': 'e',
  'address': 'noida',
  'phone': [1269841212],
  'marks': {'eng': 56, 'hindi': 67, 'maths': 88}}}

In [83]:
len(1269841212)

TypeError: object of type 'int' has no len()

In [32]:
{'name' : 'Manish', 'address' : 'noida', 'phone' : 1269841212}

In [75]:
len([{1:'a'}, {2:'b'}])

2

In [89]:
dct = {101: {'name': 'Alice Johnson', 'address': '123 Main St, Anytown, CA 91234', 'phone': ['555-123-4567'], 'marks': {'eng': 85, 'hindi': 78, 'maths': 92}},
       102: {'name': 'Bob Williams', 'address': '456 Oak Ave, Somewhere, TX 75001', 'phone': ['555-987-6543'], 'marks': {'eng': 70, 'hindi': 88, 'maths': 75}},
       103: {'name': 'Charlie Brown', 'address': '789 Pine Ln, Elsewhere, FL 33101', 'phone': ['555-555-1212'], 'marks': {'eng': 95, 'hindi': 90, 'maths': 80}},
       104: {'name': 'Diana Miller', 'address': '101 Maple Dr, Anytime, NY 10001', 'phone': ['555-222-3333'], 'marks': {'eng': 88, 'hindi': 75, 'maths': 96}},
       105: {'name': 'Ethan Davis', 'address': '222 Elm Ct, Anywhere, IL 60601', 'phone': ['555-444-5555'], 'marks': {'eng': 78, 'hindi': 82, 'maths': 88}}}


'-----------------'
'Roll no     : 1'
'Name        : Alice'
'Total Marks : 215'
'Percentage  : 76%'

'-----------------'

'Roll no     : 2'
'Name        : Bob'
'Total Marks : 210'
'Percentage  : 72%'
'-----------------'

'-----------------'

In [120]:
dct

{101: {'name': 'Alice Johnson',
  'address': '123 Main St, Anytown, CA 91234',
  'phone': ['555-123-4567'],
  'marks': {'eng': 85, 'hindi': 78, 'maths': 92}},
 102: {'name': 'Bob Williams',
  'address': '456 Oak Ave, Somewhere, TX 75001',
  'phone': ['555-987-6543'],
  'marks': {'eng': 70, 'hindi': 88, 'maths': 75}},
 103: {'name': 'Charlie Brown',
  'address': '789 Pine Ln, Elsewhere, FL 33101',
  'phone': ['555-555-1212'],
  'marks': {'eng': 95, 'hindi': 90, 'maths': 80}},
 104: {'name': 'Diana Miller',
  'address': '101 Maple Dr, Anytime, NY 10001',
  'phone': ['555-222-3333'],
  'marks': {'eng': 88, 'hindi': 75, 'maths': 96}},
 105: {'name': 'Ethan Davis',
  'address': '222 Elm Ct, Anywhere, IL 60601',
  'phone': ['555-444-5555'],
  'marks': {'eng': 78, 'hindi': 82, 'maths': 88}}}

In [145]:
for roll_no in dct.keys():
  print(roll_no, "|", dct[roll_no]['name'] , "|", dct[roll_no]['marks'].values())

101 | Alice Johnson | dict_values([85, 78, 92])
102 | Bob Williams | dict_values([70, 88, 75])
103 | Charlie Brown | dict_values([95, 90, 80])
104 | Diana Miller | dict_values([88, 75, 96])
105 | Ethan Davis | dict_values([78, 82, 88])

In [133]:
for key in dct.keys():

  total_marks = sum(list(dct[key]['marks'].values()))
  no_of_exams = len(list(dct[key]['marks'].values()))
  percentage = round((total_marks/no_of_exams),2)


  dct[key]['score'] = percentage

  print('Roll No     : ', key)
  print('Name        : ', dct[key]['name'].split(' ')[0])
  print('Total Marks : ', total_marks)
  print('Percentage  : ', dct[key]['score'], "%")
  print('-'*25)

Roll No     :  101
Name        :  Alice
Total Marks :  255
Percentage  :  85.0 %
-------------------------
Roll No     :  102
Name        :  Bob
Total Marks :  233
Percentage  :  77.67 %
-------------------------
Roll No     :  103
Name        :  Charlie
Total Marks :  265
Percentage  :  88.33 %
-------------------------
Roll No     :  104
Name        :  Diana
Total Marks :  259
Percentage  :  86.33 %
-------------------------
Roll No     :  105
Name        :  Ethan
Total Marks :  248
Percentage  :  82.67 %
-------------------------

In [134]:
dct

{101: {'name': 'Alice Johnson',
  'address': '123 Main St, Anytown, CA 91234',
  'phone': ['555-123-4567'],
  'marks': {'eng': 85, 'hindi': 78, 'maths': 92},
  'score': 85.0},
 102: {'name': 'Bob Williams',
  'address': '456 Oak Ave, Somewhere, TX 75001',
  'phone': ['555-987-6543'],
  'marks': {'eng': 70, 'hindi': 88, 'maths': 75},
  'score': 77.67},
 103: {'name': 'Charlie Brown',
  'address': '789 Pine Ln, Elsewhere, FL 33101',
  'phone': ['555-555-1212'],
  'marks': {'eng': 95, 'hindi': 90, 'maths': 80},
  'score': 88.33},
 104: {'name': 'Diana Miller',
  'address': '101 Maple Dr, Anytime, NY 10001',
  'phone': ['555-222-3333'],
  'marks': {'eng': 88, 'hindi': 75, 'maths': 96},
  'score': 86.33},
 105: {'name': 'Ethan Davis',
  'address': '222 Elm Ct, Anywhere, IL 60601',
  'phone': ['555-444-5555'],
  'marks': {'eng': 78, 'hindi': 82, 'maths': 88},
  'score': 82.67}}

In [ ]:
for i in dct.keys():
    print("Roll_No:", i)

    for j in dct[i].keys():
        print(j, dct[i][j])
        total_marks=0
        if(j=='marks'):
            for k in dct[i][j].keys():
                print(k, dct[i][j][k], end=", ")
                total_marks+=dct[i][j][k]
            print("\nTotal Marks: ", total_marks)
            perct=(total_marks/300)*100
            print("Percentage: ", perct)
    print("----------------------------------\n")

In [135]:
dct[101]['phone']

['555-123-4567']

In [126]:
'Ashish Kumar Jangra'.split(' ')[0]

'Ashish'

In [130]:
data = {'name': 'Alice Johnson',
 'address': '123 Main St, Anytown, CA 91234',
 'phone': ['555-123-4567'],
 'marks': {'eng': 85, 'hindi': 78, 'maths': 92}}

data['marks'] = 90

data

{'name': 'Alice Johnson',
 'address': '123 Main St, Anytown, CA 91234',
 'phone': ['555-123-4567'],
 'marks': 90}

In [ ]:
lst_1 = [[1,2,3],
         [3,4,5],
         [4,5,6]]


lst_2 = [[1,2,3]]