# **1**. Lists

In [ ]:
user_name = 'Akash'
phone_no = 92123874128
address = 'delhi'
batch = 'd-10'
email = 'akash@gmail.com'
gender = ''
dob = ''
education_background = ''
isWorking = True

In [46]:
user_1 = ['Akash',92123874128,'delhi','d-10']

In [27]:
user_1.append(12)

In [28]:
user_1

['Akash', 92123874128, 'delhi', 'd-10', 12, 12, 12, 12, 12, 12]

In [47]:
user_1

['Akash', 92123874128, 'delhi', 'd-10']

In [49]:
user_1[0] = 'Manish'

In [50]:
user_1

['Manish', 92123874128, 'delhi', 'd-10']

### 1.2) Practice List

##### 1.2.1) append all the even numbers between 0-100 into the list

In [60]:
lst = []

for i in range(2,100,2):
  lst.append(i)

print(lst)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

##### 1.2.2) sum of all the elements of a list

In [67]:
s = 0

for i in range(len(lst)):
  s = s + lst[i]

print(s)

2450

##### 1.2.3) sum of all the even place elements of a list

In [73]:
sum_even = 0

for i in range(len(lst)):
  if i%2 == 0:
    sum_even = sum_even + lst[i]

print(sum_even)

1250

##### 1.2.4) sum of all the odd place elements of a list

In [74]:
sum_odd = 0

for i in range(len(lst)):
  if i%2 != 0:
    sum_odd = sum_odd + lst[i]

print(sum_odd)

1200

##### 1.2.5) difference between even and off place element sum of a list

In [75]:
print(sum_even - sum_odd)

50

In [85]:
n = int(input('enter a number : '))

# 5 ,100, 12300, 1287782231

s = 0
for i in range(n+1):
  s += i
print(s)

enter a number : 6
21

In [86]:
1 = 1
2 = 3
3 = 6 (3*2)
4 = 10 (4*2.5)
5 = 15 (5*3)
6 = 21 (6*3.5)
7 = 28 (7*4)
8 = 36 (8*4.5)

3 = 6 (3*2)
5 = 15 (5*3)
7 = 28 (7*4)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (ipython-input-86-2188391950.py, line 1)

In [99]:
n = 8

print(n * ((n//2) + .5))

36.0

In [91]:
n = 26598326498239841

print(n * ((n//2) + 1))

5

In [104]:
n = 6
print(n*(n+1)//2)

21

### 1.3) Assignment List

Here are some practice questions on basic 1D lists in Python:

```fruits = ['apple', 'banana', 'cherry', 'date', 'grape', 'mango', 'orange', 'strawberry']```


1. **Creating and Accessing Lists:**
   - Create a list named `fruits` containing the strings 'apple', 'banana', 'cherry', and 'date'.
   - Print the first element of the `fruits` list.
   - Print the last element of the `fruits` list.
   - Print the elements from the second to the third element (inclusive) of the `fruits` list using slicing.

2. **Modifying Lists:**
   - Add the string 'grape' to the end of the `fruits` list.
   - Change the second element of the `fruits` list to 'blueberry'.
   - Insert the string 'orange' at the beginning of the `fruits` list.
   - Remove the element 'cherry' from the `fruits` list.

3. **List Operations:**
   - Create a list of numbers from 1 to 10.
   - Find the length of the list of numbers.
   - Find the maximum value in the list of numbers.
   - Find the minimum value in the list of numbers.
   - Calculate the sum of all numbers in the list.

4. **Iterating through Lists:**
   - Iterate through the `fruits` list and print each fruit on a new line.
   - Iterate through the list of numbers and print only the even numbers.


5. **Checking Membership:**
   - Check if 'banana' is present in the `fruits` list.
   - Check if 'kiwi' is present in the `fruits` list.

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'date', 'grape', 'mango', 'orange', 'strawberry']
print(fruits)

In [111]:
da_10   = [['Akash',[92123874128,4123121],'delhi','d-10'],
           ['Akash',92123874128,'delhi','d-10'],
           ['Akash',92123874128,'delhi','d-10'],
           ['Akash',92123874128,'delhi','d-10'],
           ['Akash',92123874128,'delhi','d-10'],
           ['Akash',92123874128,'delhi','d-10'],
           ['Akash',92123874128,'delhi','d-10'],
           ['Akash',92123874128,'delhi','d-10']]

In [115]:
lst = [[1,2,3],
       [4,5,6],
       [7,8,9]]

# 1. find the sum of all teh elements of this list
# 2. find the sum elements row wise
# 3. find the sum elements column wise
# 4. find the sum elements left diagonal wise
# 5. find the sum elements right diagonal wise
# 6. find the sum elements both the diagonal

In [ ]:
lst = [[1,2,3,4],
       [4,5,6,6],
       [7,8,9,4],
       [7,8,9,4]]