### Notebook Indexes

```
1. Python Basics
 1.1) Data-types
 1.2) Operators
   1.2.1) Arithmetic
   1.2.2) Comparison
   1.2.3) Logical
 1.3) Typecasting
 1.4) Strings
 1.5) Variables
  1.5.1)Types of naming convention
  1.5.2) Ways to assign value in a variable
  1.5.3) arithmetic operations with assignment

2. Flow Control
 2.1) if-else
 2.2) nested if-else
 2.3) for loop in python
 2.4) nested for loop
 2.5) while loop

3. Data Strucutres
 3.1) Why do we need data strucutures?
 3.2) Lists
 3.3) Multi-dimensional Lists
 3.4) List Comprehensions
 3.5) Dictionaries
 3.6) Multi-dimensional Dictionaries
 3.7) Dictionaries Comprehensions
 3.8) Set
 3.9) Touple
 3.10) How to decide the data strucrure for a problem?

4. Functions and OOPs
 4.1) Defining your first function
 4.2) Defining function and understanding their scope
 4.3) Passing parameters to the function
 4.4) Function returns
 4.5) Multi-level function calling
 4.6) Module
 4.7) Class
  4.7.1) Writing your first class
  4.7.2) Using Methods
  4.7.3) Class with Multiple Methods
  4.7.4) init
  4.7.5) init with parameters
  4.7.6) self
  4.7.7) Inheritence

5. Special Functions
 5.1) zip
 5.2) filter
 5.3) lambda
 5.4) map

6. Erros and Exceptions
 6.1) Different Errors
 6.2) Handling Errors and Exceptions

7. Important Libraries
 7.1) math
 7.2) random
 7.3) datetime
 7.4) collections
 7.5) string
```

#### 1) Python Basics
##### 1.1)  Data-types

In [ ]:
# Integer

print(-10)
print(10)
print(0)
print(7482394)
print(type(10))
print('-------------')

# Float

print(-10.5)
print(10.2)
print(0.0)
print(7482394.23)
print(type(10.0))
print('-------------')

# String

print('a')
print('A')
print('Ashish')
print("Ashish")
print('Ashish Jangra')
print("Ashish's")
print('1')
print('3.14')
print(type('10.4'))
print('-------------')

# Boolean

print(True)
print(False)
print('True')
print('False')
print(type(False))
print('-------------')

# Print functionalities

print('a')
print('b')
print('c')
print('-------------')

print('a', end = ' ')
print('b', end = ' ')
print('c', end = ' ')
print()
print('-------------')

print('a', 'b', 'c')
print('-------------')

print('a', 'b', 'c', sep=',')

##### 1.2) Operators
*   1.2.1) Arithmetic

In [ ]:
# Addition
print(5 + 4)
print(3.2 * 5.5)
print('-------------')

# Subtraction
print(5 - 4)
print(3.2 - 5.5)
print('-------------')

# Multiplication
print(5 * 4)
print(3.2 * 5.5)
print('-------------')

# Division
print(5 / 4)
print(3.2 / 5.5)
print('-------------')

# Floor Division
print(5 // 4)
print(3.2 // 5.5)
print('-------------')

# Modulo
print(5 % 4)
print(3.2 % 5.5)
print('-------------')

# Exponentiation
print(5 ** 4)
print(3.2 ** 5.5)
print('-------------')

print('--- Others ---')

# abs
print(abs(-3.14))

# round
print(round(3.14332,2))

# pow
print(pow(2,5))

*   1.2.2) Comparison

In [ ]:
# Comparison Operators

print(7 == 5)
print('Ashish' == 'ashish')
print(5 == 5.0)
print('-------------')

print(7 != 5)
print('Ashish' != 'ashish')
print(True != False)
print(5 != 5.0)
print('-------------')

print(7 < 5)
print(7.0 < 5.0)
print(True < False)
print('-------------')

print(7 > 5)
print(7.0 > 5.0)
print(True > False)
print('-------------')

print(7 <= 5)
print(7.0 <= 5.0)
print(True <= False)
print('-------------')

print(7 >= 5)
print(7.0 >= 5.0)
print(True >= False)
print('-------------')

* 1.2.2Comparison

In [ ]:
# and
print(True and True)
print(True and False)
print(False and True)
print(False and False)
print('-------------')

# or
print(True or True)
print(True or False)
print(False or True)
print(False or False)
print('-------------')

# not
print(not True)
print(not False)
print('-------------')

##### 1.3) Typecasting

In [ ]:
# int
print(int(3.3))
print(int(True))
print('-------------')

# float
print(float(3))
print(float(False))
print('-------------')

# str
print(str(3))
print(str(3.5))
print(str(True))
print('-------------')

# bool
print(bool(3))
print(bool(0))
print(bool(3.5))
print(bool(-3.14))
print(bool('a'))
print(bool('Ashish'))
print(bool('Ashish Jangra'))

##### 1.4 ) Strings

In [ ]:
# Concatenation
print('a' + 'b')
print('Ashish' + ' ' + 'Jangra')
print('-------------')

# Langth
print('Ashish Jangra')
print(len('Ashish Jangra'))
print('-------------')


# String Replication
print('a' * 5)
print('Ashish' * 5)
print('-'*20)

# String Length
print(len('Ashish'))
print(len('Ashish Jangra'))
print('-'*20)

# String Slicing
print('Ashish Jangra'[7:13])
print('Ashish Jangra'[-6: ])
print('-'*20)

# String Case Conversion
print('Ashish Jangra'.upper())
print('Ashish Jangra'.lower())
print('-'*20)

# String Stripping
print('     Ashish Jangra     ')
print('     Ashish Jangra     '.strip())
print('-'*20)

# String Replacing
print('Ashish-Jangra')
print('Ashish-Jangra'.replace('-',' '))
print('-'*20)

# String Count
print('Ashish Jangra'.count('s'))
print('-'*20)

# String Find
print('Ashish Jangra'.find("Ashish"))
print('-'*20)

# String Check
print('Ashish'.isalpha())
print('123'.isdigit())
print('ashish'.islower())
print('ASHISH'.isupper())
print('-'*20)

# String Capitalization
print('ashish jangra'.capitalize())
print('ashish jangra'.title())
print('-'*20)

# Check for start and end
print('Ashish Jangra'.startswith("Ash"))
print('Ashish Jangra'.endswith("gra"))
print('-'*20)

print('Ashish Jangra'.center(20, "*"))
print('Ashish Jangra'.ljust(20, "*"))
print('Ashish Jangra'.rjust(20, "*"))
print('-'*20)

##### 1.5) Variables
###### Types of naming convention

In [ ]:
# snake_case
my_variable_name = 42
# camelCase
myVariableName = "Hello, world!"
# PascalCase
MyClassName = "ThisIsPascalCase"

###### ways to assign value in a variable

In [ ]:
# Basic variable assignment
my_variable = 42

# Multiple assignment
x = y = z = 0
a, b, c = 1, 2, 3

# Assignment with unpacking
data = [1, 2, 3]
x, y, z = data

# User Input
n = input('enter the number: ')
print(n)

enter the number: 21
21

###### arithmetic operations with assignment

In [ ]:
n = 7

print('-'*20)
n += 1
print(n)
n -= 1
print(n)
n  *= 2
print(n)
n /= 2
print(n)
n //= 2
print(n)
print('-'*20)

--------------------
8
7
14
7.0
3.0
--------------------

#### 2) Conditionals and Flow Control
###### 2.1) if-else

In [ ]:
# if
# if else
# if elif else

x = 10

if x > 0:
    print("x is positive")
elif x == 0:
    print("x is zero")
else:
    print("x is negative")

x is positive

###### 2.2) Nested if-else

In [ ]:
# Temperature Converter Cel to Far & vice versa
# Use of logical operators

num = 15

if num > 10:
    print("Number is greater than 10.")
    if num % 2 == 0:
        print("Number is also even.")
    else:
        print("Number is odd.")
else:
    print("Number is not greater than 10.")

range(0, 10)

###### 2.3) for loop

In [ ]:
# table of a number
# range with steps

n = 5

for i in range(1,10):
  print(str(i)  + " * " + str(n)  + " = " + str(i*n))

###### 2.4) nested for loop

In [ ]:
# rolling two dice simultaniously
# rolling 3 dices simultaniously
# pairs to get even sum
# pairs to get a sum of 8
# probability of getting a number greater than 4


for i in range(1,7):
  for j in range(1,7):
    print(i,j)

###### 2.5) while loop

In [ ]:
# reverse a number
# factorial of a number
# sum of first n nunbers less than

n, fact, i = 5, 1, 1

while n >= i:
  fact *= i
  i += 1
print(fact)


# Using break to find a specific number

n, fact, i = 5, 1, 1

while True:
  fact *= i
  i += 1
  if  i == n + 1:
    break
print(fact)

120
120

#### 3) Data Structures
###### 3.1) Why data structures are needed?

In [ ]:
# Without using data structures
student1 = "Ashish"
student2 = "Riya"
student3 = "Prakash"

print("Students in the class are: ", student1, student2, student3)

# Adding a new student without data structures
student4 = "Vrinda"
print("Students in the class are: ", student1, student2, student3, student4)

# Removing a student without data structures
student2 = "Sakshi"
print("Students in the class are: ", student1, student2, student3, student4)

Students in the class are:  Ashish Riya Prakash
Students in the class are:  Ashish Riya Prakash Vrinda
Students in the class are:  Ashish Sakshi Prakash Vrinda

###### 3.2) Lists

In [ ]:
students = ['Ashish','Riya','Prakash','Vrinda']

print(students)

# Accessing elements
print("Second student:", students[1])
print('-'*20)

# Modifying elements
students[2] = 'Prashant'
print("Modified list:", students)
print('-'*20)

# Slicing the list
print("Sliced list:", students[1:3])
print('-'*20)

# Slicing the list with steps
print("Sliced list:", students[1:4:2])
print('-'*20)

# Reverse the list
print("Sliced list:", students[::-1])
print('-'*20)

# Reverse the list with steps
print("Sliced list:", students[::-2])

# Appending to the list
students.append('Suresh')
print("List after appending:", students)
print('-'*20)

# Removing from the list
students.remove('Riya')
print("List after removal:", students)
print('-'*20)

# Length of the list
print("Length of the list:", len(students))
print('-'*20)

# Sorting the list
students.sort()
print("Sorted list:", students)
print('-'*20)

# Reversing the list
students.reverse()
print("Reversed list:", students)
print('-'*20)

# Find the index of an element
print("Index of 'Prakash':", students.index('Ashish'))
print('-'*20)

# Count occurrences of an element
print("Count of 'Ashish':", students.count('Ashish'))
print('-'*20)

# Extending the list
students.extend(['Amit', 'Neha', 'Kiran'])
print("Extended list:", students)
print('-'*20)

# Extending the list
print("Extended list:", students + ['Amit', 'Neha', 'Kiran'])
print('-'*20)

# Max and Min
grades = [90, 85, 92, 88, 95]
print("Maximum grade:", max(grades))
print("Minimum grade:", min(grades))
print('-'*20)

# Iterating over the list
print("Iterating over the list:")
for st in students:
    print(st)
print('-'*20)

# Iterating over the list with indexing
for i in range(len(students)):
    print(students[i])
print('-'*20)

# Iterating over the list with indexing
for i in range(len(students)-1,-1,-1):
    print(students[i])
print('-'*20)

###### 3.3) Multi-dimensional Lists

In [ ]:
students_grades = [ ["Ashish", 90], ["Riya", 85], ["Prakash", 92], ["Vrinda", 88] ]

# Accessing elements
print("Grade of Riya:", students_grades[1][1])
print('-'*20)

# Modifying elements
students_grades[2][1] = 95
print("Modified list:", students_grades)
print('-'*20)

# Slicing the list
print("Sliced list:", students_grades[1:3])
print('-'*20)

# Appending to the list
students_grades.append(["Suresh", 89])
print("List after appending:", students_grades)
print('-'*20)

# Removing from the list
del students_grades[0]
print("List after removal:", students_grades)
print('-'*20)

# Length of the list
print("Length of the list:", len(students_grades))
print('-'*20)

# Sorting the list
students_grades.sort(key=lambda x: x[1])
print("Sorted list:", students_grades)
print('-'*20)

# Reversing the list
students_grades.reverse()
print("Reversed list:", students_grades)
print('-'*20)

# Adding more data
students_grades.extend([["Amit", 91], ["Neha", 88], ["Kiran", 93]])
print("Extended list:", students_grades)
print('-'*20)

# Adding more data

for student in students_grades:
    print(f"Name: {student[0]}, Grade: {student[1]}")

###### 3.4) List Comprehensions

In [ ]:
# Square of first 10 numbers
squares = [x**2 for x in range(10)]
print(squares)
print('-'*20)

# Filtering even numbers
numbers = [x for x in range(20) if x % 2 == 0]
print(numbers)
print('-'*20)

# Filtering the square of even numbers
even_squares = [x**2 for x in range(10) if x % 2 == 0]
print(even_squares)
print('-'*20)

# Nested Lists with Comprehensions
matrix = [[j for j in range(5)] for i in range(5)]
print(matrix)
print('-'*20)

# Flattening a 2D list
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened = [num for row in matrix for num in row]
print(flattened)

###### 3.5) Dictionaries

In [ ]:
# Creating the dictionary
my_dict = {'a': 1, 'b': 2, 'c': 3}
print(my_dict)
print('-'*20)

# Accessing the element
print(my_dict['a'])
print(my_dict.get('a'))
print('-'*20)

# Adding or Updating the data
my_dict['d'] = 4
print(my_dict)
my_dict['a'] = 0
print(my_dict)
print('-'*20)

# Removing ket-value pair
del my_dict['b']
print(my_dict)
my_dict.pop('c')
print(my_dict)
print('-'*20)

# Removing all pairs
my_dict.clear()
print(my_dict)
print('-'*20)

# Iterating through dictionaries
for key, value in my_dict.items():
    print(f"Key: {key}, Value: {value}")
print('-'*20)

# checking if key available
print('a' in my_dict)
print('b' in my_dict)
print('-'*20)

# Merging two dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
print(dict1)

###### 3.6) Multi-dimentional Dictionaries

In [ ]:
# Creating a multi-dimensional dictionary
multi_dict = {
    'a': {'x': 1, 'y': 2},
    'b': {'x': 3, 'y': 4},
    'c': {'x': 5, 'y': 6}
}

# Accessing elements in a multi-dimensional dictionary
print(multi_dict['a']['x'])
print('-'*20)

# Adding or updating key-value pairs in a multi-dimensional dictionary
multi_dict['d'] = {'x': 7, 'y': 8}
print(multi_dict)
print('-'*20)

multi_dict['a']['x'] = 0
print(multi_dict)
print('-'*20)

# Removing key-value pairs from a multi-dimensional dictionary
del multi_dict['b']
print(multi_dict)
print('-'*20)

# Iterating over a multi-dimensional dictionary
for key, value in multi_dict.items():
    print(f"Key: {key}, Value: {value}")
print('-'*20)

# Checking if a key exists in a multi-dimensional dictionary
print('a' in multi_dict)
print('b' in multi_dict)
print('-'*20)

# Clearing all elements from the multi-dimensional dictionary
multi_dict.clear()
print(multi_dict)

###### 3.7) Dictionary Comprehensions

In [ ]:
# Square of first 5 numbers
squares = {x: x**2 for x in range(5)}
print(squares)
print('-'*20)

# Square of first 5 numbers
even_squares = {x: x**2 for x in range(10) if x % 2 == 0}
print(even_squares)
print('-'*20)

# Converting a list to a dictionary
my_list = ['apple', 'banana', 'cherry']
my_dict = {item: len(item) for item in my_list}
print(my_dict)
print('-'*20)

# Creating a dictionary with a condition
numbers = {'num' + str(x): x for x in range(5)}
print(numbers)
print('-'*20)

# Creating a dictionary of cubes
cubes = {x: x**3 for x in range(1, 6)}
print(cubes)
print('-'*20)

# Filtering a dictionary based on values
my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
filtered_dict = {k: v for k, v in my_dict.items() if v % 2 == 0}
print(filtered_dict)
print('-'*20)

# Creating a dictionary from two lists
keys = ['a', 'b', 'c', 'd', 'e']
values = [1, 2, 3, 4, 5]
combined_dict = {k: v for k, v in zip(keys, values)}
print(combined_dict)
print('-'*20)

# Nested dictionary comprehension
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened_dict = {(i, j): matrix[i][j] for i in range(3) for j in range(3)}
print(flattened_dict)
print('-'*20)

###### 3.8) Sets


*   **Mutability:** Sets are mutable, meaning you can add, remove, or modify elements after the set is created.
*   **Uniqueness:** Sets do not allow duplicate elements. If you try to add an element that already exists in the set, it won't create a duplicate.
*   **Ordering:** Sets are unordered, meaning the elements do not have a specific order.
*   **Common Use Cases:** Removing duplicates from a list. Checking membership and performing set operations (union, intersection, etc.).

In [ ]:
# Creating a set
my_set = {1, 2, 3, 4, 5}
print(my_set)
print('-'*20)

# Adding elements to a set
my_set.add(6)
print(my_set)
print('-'*20)

# Adding elements to a set
popped_element = my_set.pop()
print("Popped element:", popped_element)
print(my_set)
print('-'*20)

# Removing elements from a set
my_set.discard(3)
print(my_set)
print('-'*20)

# Iterating over a set
for element in my_set:
    print(element)
print('-'*20)

# Checking membership in a set
print(2 in my_set)
print(7 in my_set)
print('-'*20)

# Set operations
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
print("Union:", set1 | set2)
print("Intersection:", set1 & set2)
print("Difference:", set1 - set2)
print("Symmetric Difference:", set1 ^ set2)
print('-'*20)

# Clearing all elements from a set
my_set.clear()
print(my_set)


###### 3.9) Touple

*   **Immutability:** Tuples are immutable, meaning once they are created, you cannot change their size or modify their elements.
*   **Uniqueness:** Tuples can contain duplicate elements, and the order of elements is maintained.
*   **Ordering:** Tuples are ordered, meaning the order of elements is preserved.
*   **Common Use Cases:** Used for representing fixed collections of items. Return multiple values from a function. Used as keys in dictionaries.

In [ ]:
# Creating a tuple
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)
print('-'*20)

# Accessing elements of a tuple
print(my_tuple[0])
print('-'*20)

# Slicing a tuple
print(my_tuple[1:4])
print('-'*20)

# Concatenating tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)
print('-'*20)

# Finding the length of a tuple
print(len(my_tuple))
print('-'*20)

# Iterating over a tuple
for element in my_tuple:
    print(element)
print('-'*20)

# Checking membership in a tuple
print(3 in my_tuple)
print(6 in my_tuple)
print('-'*20)

# Counting occurrences of an element in a tuple
print(my_tuple.count(3))
print('-'*20)

# Finding the index of an element in a tuple
print(my_tuple.index(4))
print('-'*20)

# Multiplying a tuple
multiplied_tuple = my_tuple * 3
print(multiplied_tuple)
print('-'*20)

###### 3.10) How to decide the data structure for a problem?

In [ ]:
# Phonebook Application: You need to store names and corresponding phone numbers, with fast retrieval and modification capabilities


# Inventory Management System: You need to keep track of product details, quantities, and prices, and you also need to efficiently update and retrieve this information.


# Online Dictionary Application: You need to manage a large dataset of words and their meanings, allowing for quick and easy access to definitions.

#### 4) Functions & OOPs
###### 4.1) Defining your first function

In [ ]:
def my_function():
    print("hello!")

my_function()
print('-'*25)

print([my_function() for i in range(10)])
print('-'*25)

###### 4.2) Defining functions and understanding their scope

In [ ]:
global_var = 10

def my_function():

    local_var = 5
    print("Inside the function - global_var:", global_var)
    print("Inside the function - local_var:", local_var)

my_function()

print("Outside the function - global_var:", global_var)
# print("Outside the function - local_var:", local_var)

###### 4.3) Passing parameters to the function

In [ ]:
name = 'Ashish'

def my_function(name = '-----'):
    print("Hello,", name)

my_function()
my_function(name)
my_function(name = 'Jangra')

###### 4.4) Function returns

In [ ]:
def subm( a , b ):
  print(a + b)

subm(5,10)
print('-'*10)
print(subm(5,10))
print('*'*10)


def subm( a , b ):
  return a + b

subm(5,10)
print('-'*10)
print(subm(5,10))

###### 4.5) Multi-level function calling

In [ ]:
# [lst1^2] + [lst2^3]

lst = [1,2,3,4,5]

def lst_sq(lst):
  return [i*i for i in lst]

def lst_cu(lst):
  return [i*i*i for i in lst]

def lst_subm(lst):
  lst_1 = lst_sq(lst)
  lst_2 = lst_cu(lst)
  return [lst_1[i] + lst_2[i] for i in range(len(lst))]

lst_subm([1,2,3])

[2, 12, 36]

###### 4.6) Module
*   Program - 1 | support.py

In [ ]:
def greet(name = '-----'):
    return 'Hello ' + name

def subm(a = 0,b = 0):
    return a+b

def arithmetic(a = 0,b = 0):
    return a+b , a-b, a*b

def sq(lst):
    return [i**2 for i in lst]
def cu(lst):
    return [i**3 for i in lst]

def final(lst):
    lst_1 = sq(lst)
    lst_2 = cu(lst)
    return [lst_1[i] + lst_2[i] for i in range(len(lst_1))]

*   Program - 2 | app.py

In [ ]:
from support import *

lst = [1,2,3,4,5]

print(greet('Ashish'))
print(subm(10,5))
print(arithmetic(10,5))
print(final(lst))
print(cu(lst))
print(sq(lst))

###### 4.7) Class
**1.   Writing your first Class**

In [ ]:
class person:
  name = 'Ashish'
  age = 25

p1 = person()

print(p1.name)
print(p1.age)
print('-'*25)

p1.name = 'Ankur'
p1.age = 28

print(p1.name)
print(p1.age)


print('-'*25)
p2 = person()

print(p2.name)
print(p2.age)
print('-'*25)

**2.   Using Methods**

In [ ]:
class mathematics:

    name = 'Ashish'
    def greet(self):
        print('Hello')
        print(self.name)
        return True

mth = mathematics()
print(mth.greet())

Hello
Ashish
True

**3.   Class with Multiple Methods**

In [ ]:
class mathematics:

    def greet(self):
        print('Hello')
        return True

    def factorial(self,n):
      s = 1
      for i in range(1,n+1):
        s *= i
      return s

    def lst_mul(self,lst):
      s = 1
      for i in lst:
        s *= i
      return s

    def lst_dot(self, lst_1 , lst_2):
      return [lst_1[i]*lst_2[i] for i in range(len(lst_1))]


mth = mathematics()
print(mth.greet())
print('-')
print(mth.factorial(10))
print('-')
print(mth.lst_mul([4,3,4,3,4]))
print('-')
print(mth.lst_dot([1,2,3],[4,5,6]))
print('-')

**4.   __init__**

In [ ]:
class agent:
    def __init__(self):
      print('Hello')

    def run():
      print('run!')

agent()
print('-')
my_agent = agent()
print('-')
my_agent.__init__()

**5.   __init__ with parameters**

In [ ]:
class agent:

    def __init__(self, name, age):
      print('Hello')
      print(name)
      print(age)

    def run(self):
      print('run!')

agent('Ashish',28)
print('-')
my_agent = agent('Ashish',28)
print('-')
my_agent.__init__('Ashish',28)
print('-')
my_agent.run()

**6.   Using self**

In [ ]:
class agent:

    def __init__(self, name, age):
      print('Hello')
      self.name = name
      self.age = age
      self.health = 100

    def run(self):
      print('Current health :',self.health)
      print('run!')

    def punched(self):
      self.health -= 5
      print('Current health :',self.health)

    def info(self):
      print('Name    :',self.name)
      print('Age     :',self.age)
      print('Health  :',self.health)

my_agent = agent(name = 'Ashish',age = 28)
print(my_agent.name)
print(my_agent.age)
print('-'*30)

my_agent.run()
print('-'*30)

my_agent.punched()
my_agent.punched()

print('-'*30)
my_agent.info()

**7.   Inheritence**

In [ ]:
class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def bark(self):
        print(self.name + 'says Woof!')


class Animal(Dog):
    def show_breed(self):
      print('This is a Dog', self.name)


my_dog = Dog(name="Buddy", age=3)
print(my_dog.name , my_dog.age)
print('-'*25)


animal = Animal('Tomy',3)
print(animal.show_breed())

Buddy 3
-------------------------
This is a Dog Tomy
None

#### 5) Special Functions
###### 5.1) Zip

In [ ]:
# Sample lists
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]
print(list(zip(names, ages)))
print('-'*50)

# Zip with Transpose
matrix = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
print([list(row) for row in zip(matrix)])
print([list(row) for row in zip(*matrix)])
print([list(row) for row in zip(*[list(row) for row in zip(*matrix)])])
print('-'*50)

# Sum of Dot Products
vector_a = [2, 4, 6]
vector_b = [1, 3, 5]
dot_product = sum(a * b for a, b in zip(vector_a, vector_b))
print("Vector A:", vector_a)
print("Vector B:", vector_b)
print("Dot Product:", dot_product)

###### 5.2) Filter

In [ ]:
# Finding Even Numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def is_even(num):
    return num % 2 == 0

even_numbers = list(filter(is_even, numbers))
print("Original numbers:", numbers)
print("Even numbers:", even_numbers)

Original numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Even numbers: [2, 4, 6, 8, 10]

###### 5.3) Lambda

In [ ]:
add_numbers = lambda x, y: x * y
print("Result:", add_numbers(5, 10))
print('-'*50)


numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print("Even Numbers:", even_numbers)

Result: 50
--------------------------------------------------
Even Numbers: [2, 4, 6, 8, 10]

###### 5.4) Map

In [ ]:
numbers = [1, 2, 3, 4, 5]
def square(x):
    return x ** 2
print(list(map(square, numbers)))
print('-'*50)


names = ["Alice", "Bob", "Charlie", "David", "Eva"]
lengths_list = list(map(lambda x: len(x), names))
print(lengths_list)

[1, 4, 9, 16, 25]
--------------------------------------------------
[5, 3, 7, 5, 3]

#### 6) Errors and Exceptions
###### 6.1) Different Erros

In [ ]:
# 1 .Syntax Errors
print("Hello, World!')

# 2. Runtime Erros | ZeroDivisionError
num1, num2 = 10, 0
result = num1 / num2  # This will raise a ZeroDivisionError

# 3. Logical Errors
def add_numbers(num1, num2):
    return num1 - num2

# 4. NameError
print(variable_number_1, function_for_sum())

# 5. TypeError
print("2" + 2)

# 6. IndexError
my_list = [1, 2, 3]
print(my_list[5])

# 7. KeyError
my_dict = {'name': 'John', 'age': 25}
print(my_dict['gender'])

# 8. AttributeError
x = 10
print(x.upper())

# 9. IndentationError
if True:
print("Indented incorrectly")

# 10. ImportError
import non_existent_module

# 11. ValueError
int('abc')

###### 6.2) Handling Errors with Exception Handling





*   The **try** block contains the code that may raise an exception.
*   The **except** blocks handle specific types of exceptions. You can have multiple except blocks to handle different types of errors.
*   The **else** block is executed if no exception occurs in the try block.
*   The **finally** block is always executed, whether an exception occurred or not. It's typically used for cleanup operations.

In [ ]:
# Beginning with Exception Handling
try:
  x = 10
  print(x)
  print(x/0)
except:
  print('Error Occured!')
print('-'*30)

# Basic error handling with Specific Error
try:
    num = 0.0
    result = 10 / num
    print("Result:", result)
except ZeroDivisionError:
    print("Cannot divide by zero.")
except:
    print('Unknown Error')
print('-'*30)

# Full Structure of Handling Exceptions
try:
    num1 , num2 = 10, 5
    result = num1 / num2
    print("Result:", result)

except ValueError as ve:
    # when the user enters a non-integer
    print("ValueError:", ve)

except ZeroDivisionError as zde:
    # when the user enters 0 as the second number
    print("ZeroDivisionError:", zde)

except Exception as e:
    # Handle any other exceptions that may occur
    print("An unexpected error occurred:", e)

else:
    # This block is executed if no exception occurs
    print("No errors occurred.")

finally:
    # This block is always executed, whether an exception occurred or not
    print("Execution completed.")

#### 7) Important Libraries
##### 7.1) math

In [ ]:
import math

# Basic Arithmetic Functions:
x = 10.8
print(math.ceil(x))  # upper bound
print(math.floor(x)) # lower bound
print(math.trunc(x)) # remove decimal
print('-'*30)

# Exponential and Logarithmic Functions:
x = 3
print(math.exp(x))   # Returns e raised to the power of x.
print(math.log10(x)) # Returns the base-10 logarithm of x.
print('-'*30)

# Trigonometric Functions:
print(math.sin(x))
print(math.cos(x))
print(math.tan(x))
print('-'*30)

# Constants:
print(math.pi)   # Mathematical constant pi (π).
print(math.e)    # Mathematical constant e (base of natural logarithm)
print('-'*30)


# Special Functions:
x = 5
print(math.factorial(x))  # Returns the factorial of x.
print(math.gamma(x))      # Returns the gamma function at x.
print('-'*30)

##### 7.2) random

In [ ]:
import random

print(random.random())                      # [0.0 - 1.0]
print(random.randint(1,10))                 # Pick a random number in that range
print(random.choice([1, 2, 3, 4, 5]))       # Take a random value
print(random.sample([1, 2, 3, 4, 5], 3))    # Random Sample of n values
print(random.uniform(1.0, 2.0))             # Random Float in tht range

random.seed(42)

print(random.random())
print(random.randint(1, 10))
print(random.choice(['a', 'b', 'c']))

##### 7.3) datetime

In [ ]:
import datetime

print(datetime.datetime(2023, 11, 28, 10, 30, 0)) # Specific Datatime
print(datetime.datetime.now())                    # Current Datetime

print(datetime.datetime.now().strftime("%d/%m/%y %H:%M:%S"))

date_1 = datetime.datetime(2023, 11, 28, 10, 30, 0)
date_2    = datetime.datetime.now()

print(date_2 - date_1)

##### 7.4) collections

In [ ]:
from collections import Counter, defaultdict, OrderedDict, ChainMap

# 1. Counter
my_list = [1, 2, 3, 1, 2, 1, 2, 3, 4]
counter = Counter(my_list)
print(counter)

# 2. Defaul Dictionary | No need to check if 'a' is in the dictionary
d = defaultdict(int)
d['a'] += 1
print(d)

# 3. Ordered Dictionary
d = OrderedDict()
d['one'] = 1
d['two'] = 2

Counter({1: 3, 2: 3, 3: 2, 4: 1})
defaultdict(<class 'int'>, {'a': 1})

##### 7.5) string

In [ ]:
import string

# Constants
print(string.ascii_letters)
print(string.ascii_lowercase)
print(string.ascii_uppercase)
print('-'*30)

print(string.digits)
print(string.hexdigits)
print(string.octdigits)
print('-'*30)

print(string.punctuation)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
abcdefghijklmnopqrstuvwxyz
ABCDEFGHIJKLMNOPQRSTUVWXYZ
------------------------------
0123456789
0123456789abcdefABCDEF
01234567
------------------------------
!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~