In [ ]:
!git clone https://github.com/AshishJangra27/datasets

Cloning into 'datasets'...
remote: Enumerating objects: 306, done.
remote: Counting objects: 100% (71/71), done.
remote: Compressing objects: 100% (61/61), done.
remote: Total 306 (delta 11), reused 54 (delta 9), pack-reused 235
Receiving objects: 100% (306/306), 278.61 MiB | 16.26 MiB/s, done.
Resolving deltas: 100% (137/137), done.
Updating files: 100% (219/219), done.

In [ ]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('/content/datasets/Job Postings/jobs.csv.zip')
df

,job_id,job_role,company,experience,salary,location,rating,reviews,resposibilities,posted_on,job_link,company_link
0,7.012301e+10,Branch Banking - Calling For Women Candidates,Hdfc Bank,1-6 Yrs,Not disclosed,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",4.0,39110 Reviews,"Customer Service,Sales,Relationship Management",1 Day Ago,https://www.naukri.com/job-listings-branch-ban...,https://www.naukri.com/hdfc-bank-jobs-careers-213
1,6.012391e+10,Product Owner Senior Manager,Accenture,11-15 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Product management,Market analysis,Change mana...",1 Day Ago,https://www.naukri.com/job-listings-product-ow...,https://www.naukri.com/accenture-jobs-careers-...
2,6.012391e+10,Employee Relations and Policies Associate Manager,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Business process,Change management,Team manage...",1 Day Ago,https://www.naukri.com/job-listings-employee-r...,https://www.naukri.com/accenture-jobs-careers-...
3,6.012391e+10,Employee Relations and Policies Specialist,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Business process,Change management,Team manage...",1 Day Ago,https://www.naukri.com/job-listings-employee-r...,https://www.naukri.com/accenture-jobs-careers-...
4,6.012301e+10,SAP BO Consultant,Mindtree,5-7 Yrs,Not disclosed,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",4.1,3759 Reviews,"SAP BO,PL / SQL,Oracle SQL,SAP Business Object...",1 Day Ago,https://www.naukri.com/job-listings-sap-bo-con...,https://www.naukri.com/mindtree-jobs-careers-3...
...,...,...,...,...,...,...,...,...,...,...,...,...
79142,6.012301e+10,.Net Fullstack Developer,Citiustech,3-8 Yrs,"7,00,000 - 17,00,000 PA.","Hybrid - Pune, Bangalore/Bengaluru, Mumbai (Al...",4.0,742 Reviews,"c#,.net core,javascript,Microservices,Angular,...",2 Days Ago,https://www.naukri.com/job-listings-net-fullst...,https://www.naukri.com/citiustech-jobs-careers...
79143,1.122201e+10,Senior (BI) Business Intelligence Architect,Hexaware Technologies,10-13 Yrs,Not disclosed,"Hybrid - Pune, Chennai, Bangalore/Bengaluru, M...",3.7,3172 Reviews,"Informatica Mdm,etl,business intelligence,Agil...",1 Day Ago,https://www.naukri.com/job-listings-senior-bi-...,https://www.naukri.com/hexaware-technologies-j...
79144,1.512220e+11,PowerBI Developer,EY,5-10 Yrs,Not disclosed,"Hybrid - Pune, Mumbai (All Areas)",3.8,6267 Reviews,"pagination,Power Bi,Dax",2 Days Ago,https://www.naukri.com/job-listings-powerbi-de...,https://www.naukri.com/ey-jobs-careers-9156
79145,2.712220e+11,Customer Service Associate,Tech Mahindra,0-2 Yrs,"2,50,000 - 3,50,000 PA.","Temp. WFH - Noida, Kolkata, New Delhi, Hyderab...",3.7,21440 Reviews,"Bengali,International BPO,BPO,Customer Service...",10 Days Ago,https://www.naukri.com/job-listings-customer-s...,https://www.naukri.com/tech-mahindra-jobs-care...
79146,2.112220e+11,Senior Java BED ( PAN India)- KG,Tech Mahindra,8-12 Yrs,"25,00,000 - 27,50,000 PA.","Temp. WFH - Noida, Kolkata, Hyderabad/Secunder...",3.7,21440 Reviews,"Kafka,sql,spring boot,REST API,java,Lambda,Des...",3 Days Ago,https://www.naukri.com/job-listings-senior-jav...,https://www.naukri.com/born-commerce-jobs-care...

### 1. Handling Duplicate & Null Values

##### 1.1) Checking Null Values

In [ ]:
df.isnull().sum()

job_id               480
job_role             480
company              481
experience          1749
salary               480
location            1706
rating             36199
reviews            36199
resposibilities      500
posted_on            480
job_link             480
company_link         480
dtype: int64

##### 1.2) Removing Null values

In [ ]:
df = df.dropna(subset=['job_id', 'job_role', 'company', 'experience', 'salary', 'location',
                      'resposibilities', 'posted_on', 'job_link', 'company_link'])

##### 1.3) Checking Duplicate Values

In [ ]:
print(df.duplicated().sum())

print(df.duplicated(subset=['job_id']).sum())

print(df.duplicated(subset=['job_link']).sum())

5312
5640
5640

##### 1.4) Remove the Null Values

In [ ]:
df = df.drop_duplicates(subset=['job_link'])

### 2. Exploratory Data Analysis

##### 2.1) Exploring job_id Column

In [ ]:
df['job_id'].nunique() == len(df)

True

- convert it to string data-type
- get it from link column

##### 2.2) Exploring job_role Column

In [ ]:
df['job_role'].nunique()

51050

##### 2.3) Exploring company Column

In [ ]:
df['company'].nunique()

15313

##### 2.4) Exploring company & company_link Column together

In [ ]:
print(df['company'].nunique())
print(df['company_link'].nunique())

15313
13845

##### 2.5) Exploring companies whose links are mathcing but names are different

In [ ]:
df['company_id'] =  df['company_link'].str.lower().str.split('-').str[-1]

# for company_id in tqdm(df['company_id'].unique()):
#   no_of_un_links = df[df['company_id'] == company_id]['company_link'].nunique()
#   if (no_of_un_links != 1):
#     print(company_id, no_of_un_links)

df.groupby('company_id').nunique()['company_link'].sort_values(ascending = False).head()

company_id
0          53
2778010     2
932996      2
5542888     1
5539450     1
Name: company_link, dtype: int64